#!roottask

task sigma0 boot_priority 0xA0
task roottask boot_priority 0xA0
task modname "rtc" allow_cli
task modname "con" allow_cli
task modname "names" boot_priority 0xA0
task modname "log" boot_priority 0xA1
task modname "dm_phys" boot_priority 0xA0
task modname "simple_ts" boot_priority 0xA0
task modname "tftp" allow_cli boot_priority 0xA1
task modname "ore" allow_cli boot_priority 0xA1
task modname "l4io" allow_cli boot_priority 0xA3
task modname "l4exec" boot_priority 0xA0
task modname "loader" allow_cli boot_priority 0xA0
task modname "l4dope" allow_cli boot_priority 0xA9
task modname "nitpicker" allow_cli boot_priority 0xb8
task modname "ex_dope-reboot" allow_cli
task modname "usbhid" boot_priority 0xb8
task modname "nitdope" boot_priority 0xb0
task modname "vmlinuz26.ux"
task modname "L4Linux task"
