/*************************************************************************
*
*	@(#)Commdlg.rc	1.14
*
*	Copyright (c) 1995-1996, Willows Software Inc.  All rights reserved.
*
**************************************************************************/

/*===========================================================================
//
//      Includes
//
============================================================================*/

#include "windows.h"
#include "CommdlgRC.h"

/*============================================================================
//
// Cursor
//
============================================================================*/

IDC_COLORCROSSHAIR			CURSOR         "bmp/colorcrosshair.cur"
IDC_LUMINOSITY					CURSOR         "bmp/luminosity.cur"

/*============================================================================
//
// Icon
//
============================================================================*/

IDI_PORTRAIT            ICON         "bmp/portrait.ico"
IDI_LANDSCAPE           ICON         "bmp/landscape.ico"
IDI_WILLOWS							ICON				 "bmp/willows.ico"
IDI_COLORCROSSHAIR			ICON         "bmp/colorcrosshair.ico"
IDI_LUMINOSITY					ICON         "bmp/luminosity.ico"

/*============================================================================
//
// Bitmap
//
============================================================================*/

IDB_FOLDERSDRIVES       BITMAP    "bmp/foldersdrives.bmp"
IDB_CROSSLED            BITMAP    "bmp/crossled.bmp"
IDB_RAISEDLEFT          BITMAP      "bmp/raisedleft.bmp"
IDB_RECESSLEFT          BITMAP      "bmp/recessleft.bmp"
IDB_RAISEDRIGHT         BITMAP      "bmp/raisedright.bmp"
IDB_RECESSRIGHT         BITMAP      "bmp/recessright.bmp"
IDB_RAISEDUP            BITMAP      "bmp/raisedup.bmp"
IDB_RECESSUP            BITMAP      "bmp/recessup.bmp"
IDB_RAISEDDOWN          BITMAP      "bmp/raiseddown.bmp"
IDB_RECESSDOWN          BITMAP      "bmp/recessdown.bmp"
IDB_TRUETYPEPRINTER     BITMAP      "bmp/truetypeprinter.bmp"
IDB_FLOPPYDRIVE         BITMAP      "bmp/floppy.bmp"
IDB_HARDDRIVE           BITMAP      "bmp/harddrive.bmp"
IDB_NETWORKDRIVE        BITMAP      "bmp/networkdrive.bmp"
IDB_MAPPEDDRIVE         BITMAP      "bmp/mappeddrive.bmp"
IDB_RAMDRIVE            BITMAP      "bmp/ramdrive.bmp"
IDB_CDROMDRIVE          BITMAP      "bmp/cdrom.bmp"
IDB_DIR                 BITMAP      "bmp/dir.bmp"
IDB_OPENDIR             BITMAP      "bmp/opendir.bmp"
IDB_OPENCURRDIR         BITMAP      "bmp/opencurrdir.bmp"
WCF_IDB_TRUETYPE        BITMAP      "bmp/truetype.bmp"
WCF_IDB_PRINTER         BITMAP      "bmp/printer.bmp"

/*============================================================================
//
// Dialog
//
============================================================================*/

IDD_OPENFILE DIALOG   36, 24, 264, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Open"
FONT 8, "Helv"
BEGIN
    LTEXT           "File &Name:",1090,6,6,76,9
    EDITTEXT        1152,6,16,90,12,ES_AUTOHSCROLL | ES_OEMCONVERT
    LISTBOX         1120,6,32,90,68,LBS_SORT | LBS_OWNERDRAWFIXED |
                    LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_VSCROLL |
                    WS_TABSTOP
    LTEXT           "&Directories:",-1,110,6,92,9
    LTEXT           "",1088,110,18,92,9,SS_NOPREFIX
    LISTBOX         1121,110,32,92,68,LBS_SORT | LBS_OWNERDRAWFIXED |
                    LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_VSCROLL |
                    WS_TABSTOP
    LTEXT           "List Files of &Type:",1089,6,104,90,9
    COMBOBOX        1136,6,114,90,68,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL |
                    WS_BORDER | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Dri&ves:",1091,110,104,92,9
    COMBOBOX        1137,110,114,92,68,CBS_DROPDOWNLIST | 
                    CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER |
                    WS_VSCROLL | WS_TABSTOP | CBS_OWNERDRAWFIXED
    DEFPUSHBUTTON   "OK",1,208,6,50,14,WS_GROUP
    PUSHBUTTON      "Cancel",2,208,24,50,14,WS_GROUP
    PUSHBUTTON      "&Help",1038,208,46,50,14,WS_GROUP
    CONTROL         "&Read Only",1040,"Button",BS_AUTOCHECKBOX | WS_GROUP |
                    WS_TABSTOP,208,68,50,12
END

IDD_OPENFILE2 DIALOG   36, 24, 264, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Open"
FONT 8, "Helv"
BEGIN
    LTEXT           "File &Name:",1090,6,6,76,10
    EDITTEXT        1152,6,16,90,12,ES_AUTOHSCROLL | ES_OEMCONVERT
    LISTBOX         1120,6,32,90,68,LBS_SORT | LBS_OWNERDRAWFIXED |
                    LBS_HASSTRINGS | LBS_EXTENDEDSEL | LBS_DISABLENOSCROLL |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Directories:",-1,110,6,92,9
    LTEXT           "",1088,110,16,92,9,SS_NOPREFIX
    LISTBOX         1121,110,32,92,68,LBS_SORT | LBS_OWNERDRAWFIXED |
                    LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_VSCROLL |
                    WS_TABSTOP
    LTEXT           "List Files of &Type:",1089,6,102,90,9
    COMBOBOX        1136,6,112,90,68,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL |
                    WS_BORDER | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Dri&ves:",1091,110,102,92,9
    COMBOBOX        1137,110,112,92,68,CBS_DROPDOWNLIST | 
                    CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER |
                    WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",1,208,6,50,14,WS_GROUP
    PUSHBUTTON      "Cancel",2,208,24,50,14,WS_GROUP
    PUSHBUTTON      "&Help",1038,208,46,50,14,WS_GROUP
    CONTROL         "&Read Only",1040,"Button",BS_AUTOCHECKBOX | WS_GROUP |
                    WS_TABSTOP,208,68,50,12
END

IDD_PRINT DIALOG   36, 52, 225, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Print"
FONT 8, "Helv"
BEGIN
    LTEXT           "Printer:",1093,4,4,40,8
    LTEXT           "System Default",1088,44,4,120,18
    GROUPBOX        "Print Range",1072,4,27,132,67
    RADIOBUTTON     "&All",1056,10,39,76,12,WS_GROUP | WS_TABSTOP
    RADIOBUTTON     "S&election",1057,10,52,76,12
    RADIOBUTTON     "&Pages",1058,10,65,76,12
    RTEXT           "&From:",1089,24,80,24,9
    EDITTEXT        1152,52,78,26,12,ES_RIGHT
    RTEXT           "&To:",1090,82,80,16,9
    EDITTEXT        1153,102,78,26,12,ES_RIGHT
    LTEXT           "Print &Quality:",1091,4,100,50,9
    COMBOBOX        1136,55,98,81,36,CBS_DROPDOWNLIST | WS_BORDER |
                    WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT           "&Copies:",1092,153,100,29,9
    EDITTEXT        1154,184,98,26,12,ES_RIGHT
    CONTROL         "Print to Fi&le",1040,"Button",BS_AUTOCHECKBOX |
                    WS_GROUP | WS_TABSTOP,4,113,120,12
    CONTROL         "Collate Cop&ies",1041,"Button",BS_AUTOCHECKBOX |
                    WS_GROUP | WS_TABSTOP,153,113,67,12
    DEFPUSHBUTTON   "OK",1,170,4,50,14,WS_GROUP
    PUSHBUTTON      "Cancel",2,170,21,50,14,WS_GROUP
    PUSHBUTTON      "&Setup...",1024,170,41,50,14,WS_GROUP
    PUSHBUTTON      "&Help",1038,170,75,50,14,WS_GROUP
END

IDD_PRINTSETUP DIALOG   30, 23, 287, 122
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Print Setup"
FONT 8, "Helv"
BEGIN
    GROUPBOX        "Printer",1074,4,6,224,66
    LTEXT           "(No Default Printer)",1088,18,30,208,9
    RADIOBUTTON     "&Default Printer",1058,8,16,218,12,WS_GROUP |
                    WS_TABSTOP
    RADIOBUTTON     "Specific &Printer:",1059,8,42,218,12
    COMBOBOX        1136,18,56,208,80,CBS_DROPDOWNLIST | WS_BORDER |
                    WS_VSCROLL | WS_GROUP
    GROUPBOX        "Orientation",1072,4,74,91,46
    ICON            "",1084,12,92,24,16
    RADIOBUTTON     "Po&rtrait",1056,40,86,53,12,WS_GROUP | WS_TABSTOP
    RADIOBUTTON     "&Landscape",1057,40,102,53,12
    GROUPBOX        "Paper",1073,100,74,128,46,WS_GROUP
    LTEXT           "Si&ze:",1089,104,88,26,9
    COMBOBOX        1137,134,86,92,80,CBS_DROPDOWNLIST | WS_BORDER |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Source:",1090,104,104,28,9
    COMBOBOX        1138,134,102,92,80,CBS_DROPDOWNLIST | WS_BORDER |
                    WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",1,232,4,50,14,WS_GROUP
    PUSHBUTTON      "Cancel",2,232,20,50,14,WS_GROUP
    PUSHBUTTON      "&Options...",1024,232,40,50,14,WS_GROUP
    PUSHBUTTON      "&Help",1038,232,56,50,14,WS_GROUP
END

IDD_FIND DIALOG   30, 73, 236, 62
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Find"
FONT 8, "Helv"
BEGIN
    LTEXT           "Fi&nd What:",-1,4,8,42,8
    EDITTEXT        1152,47,7,128,12,ES_AUTOHSCROLL | WS_GROUP
    CONTROL         "Match &Whole Word Only",1040,"Button",BS_AUTOCHECKBOX |
                    WS_GROUP | WS_TABSTOP,4,26,100,12
    CONTROL         "Match &Case",1041,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    4,42,64,12
    GROUPBOX        "Direction",1072,107,26,68,28
    CONTROL         "&Up",1056,"Button",BS_AUTORADIOBUTTON | WS_GROUP |
                    WS_TABSTOP,111,38,20,12
    CONTROL         "&Down",1057,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,
                    138,38,30,12
    DEFPUSHBUTTON   "&Find Next",1,182,5,50,14,WS_GROUP
    PUSHBUTTON      "Cancel",2,182,23,50,14,WS_GROUP
    PUSHBUTTON      "&Help",1038,182,45,50,14,WS_GROUP
END

IDD_FINDREPLACE DIALOG   36, 44, 230, 94
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Replace"
FONT 8, "Helv"
BEGIN
    LTEXT           "Fi&nd What:",-1,4,9,48,8
    EDITTEXT        1152,54,7,114,12,ES_AUTOHSCROLL | WS_GROUP
    LTEXT           "Re&place With:",-1,4,26,48,8
    EDITTEXT        1153,54,24,114,12,ES_AUTOHSCROLL | WS_GROUP
    CONTROL         "Match &Whole Word Only",1040,"Button",BS_AUTOCHECKBOX |
                    WS_GROUP | WS_TABSTOP,5,46,104,12
    CONTROL         "Match &Case",1041,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    5,62,59,12
    DEFPUSHBUTTON   "&Find Next",1,174,4,50,14,WS_GROUP
    PUSHBUTTON      "&Replace",1024,174,21,50,14,WS_GROUP
    PUSHBUTTON      "Replace &All",1025,174,38,50,14,WS_GROUP
    PUSHBUTTON      "Cancel",2,174,55,50,14,WS_GROUP
    PUSHBUTTON      "&Help",1038,174,75,50,14,WS_GROUP
END

CHOOSECOLOR DIALOG   2, 0, 298, 184
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Color"
FONT 8, "Helv"
BEGIN
    LTEXT           "&Basic Colors:",-1,4,4,140,9
    CONTROL         "",720,"Static",SS_SIMPLE | WS_GROUP | WS_TABSTOP,4,14,
                    140,86
    LTEXT           "&Custom Colors:",-1,4,106,140,9
    CONTROL         "",721,"Static",SS_SIMPLE | WS_GROUP | WS_TABSTOP,4,116,
                    140,28
    PUSHBUTTON      "&Define Custom Colors...",719,4,150,140,14,WS_GROUP
    DEFPUSHBUTTON   "OK",1,4,166,44,14,WS_GROUP
    PUSHBUTTON      "Cancel",2,52,166,44,14,WS_GROUP
    PUSHBUTTON      "&Help",1038,100,166,44,14,WS_GROUP
    CONTROL         "",710,"Static",SS_BLACKFRAME,152,4,118,116
    CONTROL         "",702,"Static",SS_BLACKFRAME,280,4,8,116
    CONTROL         "",709,"Static",SS_BLACKFRAME,152,124,40,26
    PUSHBUTTON      "&o",713,300,200,4,14,WS_GROUP
    RTEXT           "Color|",-1,152,151,20,9
    LTEXT           "S&olid",-1,172,151,20,9
    RTEXT           "&Hue:",723,194,126,20,9
    EDITTEXT        703,216,124,18,12,WS_GROUP
    RTEXT           "&Sat:",724,194,140,20,9
    EDITTEXT        704,216,138,18,12,WS_GROUP
    RTEXT           "&Lum:",725,194,154,20,9
    EDITTEXT        705,216,152,18,12,WS_GROUP
    RTEXT           "&Red:",726,243,126,24,9
    EDITTEXT        706,269,124,18,12,WS_GROUP
    RTEXT           "&Green:",727,243,140,24,9
    EDITTEXT        707,269,138,18,12,WS_GROUP
    RTEXT           "Bl&ue:",728,243,154,24,9
    EDITTEXT        708,269,152,18,12,WS_GROUP
    PUSHBUTTON      "&Add to Custom Colors",712,152,166,142,14,WS_GROUP
END

IDD_CHOOSEFONT DIALOG   13, 54, 264, 147
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Font"
FONT 8, "Helv"
BEGIN
    LTEXT           "&Font:",1088,6,3,40,9
    COMBOBOX        1136,6,13,94,54,CBS_SIMPLE | CBS_OWNERDRAWFIXED |
                    CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Font St&yle:",1089,108,3,44,9
    COMBOBOX        1137,108,13,64,54,CBS_SIMPLE | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Size:",1090,179,3,30,9
    COMBOBOX        1138,179,13,32,54,CBS_SIMPLE | CBS_HASSTRINGS |
                    WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",1,218,6,40,14,WS_GROUP
    PUSHBUTTON      "Cancel",2,218,23,40,14,WS_GROUP
    PUSHBUTTON      "&Apply",1026,218,40,40,14,WS_GROUP
    PUSHBUTTON      "&Help",1038,218,57,40,14,WS_GROUP
    GROUPBOX        "Effects",1072,6,72,84,34,WS_GROUP
    CONTROL         "Stri&keout",1040,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    10,82,49,10
    CONTROL         "&Underline",1041,"Button",BS_AUTOCHECKBOX,10,94,51,10
    LTEXT           "&Color:",1091,6,110,30,9
    COMBOBOX        1139,6,120,84,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED |
                    CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER |
                    WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Sample",1073,98,72,160,49,WS_GROUP
    CTEXT           "",1093,98,124,160,20,SS_NOPREFIX
    CTEXT           "",1092,104,81,149,37,SS_NOPREFIX | NOT WS_VISIBLE
END


/*============================================================================
//
// String Table
//
============================================================================*/

STRINGTABLE
BEGIN
    256                     "File Exists"
    257                     "%s\nThis file already exists.\n\nReplace existing file?"
    258                     "Exiting"
    259                     "Do you really want to exit?"
    768                     "FileOpen"
    769                     "FileSave"
    770                     "ExitChanges"
    771                     "ChooseColor"
    772                     "FindText"
    773                     "ReplaceText"
    774                     "FormatChar"
    775                     "FontInfo"
    776                     "PrintDlg"
    777                     "PrintSetupDlg"
    778                     "MultiFileOpen"
    384                     "Open"
    385                     "Save As"
    386                     "Save File as &Type:"
    387                     "Drive %c: does not exist.\n\nPlease verify that the correct drive is given."
    388                     "Cannot read drive %c:.\n\nPlease verify the drive door is closed and that the disk is formatted and free of errors."
    389                     "A different disk is expected in drive %c:.\n\nPlease insert the appropriate disk."
    390                     "The disk in drive %c: is not formatted.\n\nPlease insert a formatted disk and try this operation again."
    391                     "%s\nCannot find this file.\n\nPlease verify that the correct path and filename are given."
    392                     "%s\nPath does not exist.\n\nPlease verify that the correct path is given."
    393                     "%s\nThis filename is not valid."
    394                     "%s\nThis file is already in use.\n\nUse a new filename or close the file in use by another application."
    395                     "%s\nCannot access this file.\n\nPlease verify security privileges on the network drive."
    396                     "%s\nThis file exists and is read-only.\nUse a different filename."
    397                     "%s\nDOS critical error.\nCannot access file."
    398                     "%s\nThis filename is a reserved device name.\n\nUse a different filename."
    399                     "Disk %c: is write-protected.\nA file cannot be saved on a write-protected disk."
END

STRINGTABLE
BEGIN
    400                     "Not enough disk space on drive %c:.\n\nDelete one or more files on this disk to increase available space or use a different disk."
    401                     "%s\nToo many files already open.\n\nClose one or more applications or files, and try again."
    402                     "%s\nThis file does not exist.\n\nCreate the file?"
    403                     "%s\nThis file is on a network drive with create but no modify privileges.\n\nAsk the administrator of this network to change this condition."
    404                     "Cannot select drive %c:."
    1040                    "Black"
    1041                    "Maroon"
    1042                    "Green"
    1043                    "Olive"
    1044                    "Navy"
    1045                    "Purple"
    1046                    "Teal"
    1047                    "Gray"
    1048                    "Silver"
    1049                    "Red"
    1050                    "Lime"
    1051                    "Yellow"
    1052                    "Blue"
    1053                    "Fuchsia"
    1054                    "Aqua"
    1055                    "White"
    1056                    "DlgInstData"
    1072                    "High"
    1073                    "Medium"
    1074                    "Low"
    1075                    "Draft"
    1088                    "Printer:  "
    1089                    "Default Printer ("
    1090                    "%s on %s (%s)"
    1091                    "ExtDeviceMode"
    1092                    "DeviceMode"
    1093                    "DeviceCapabilities"
    1094                    "(currently %s)"
    1095                    "%s on %s%s"
    1096                    "Print Setup"
    1098                    "Size must be a number."
    1099                    "Size must be between %d and %d points."
    1100                    "This font style is imitated for the display. The closest matching style will be used for printing."
    1101                    "This is a TrueType font. This same font will be used on both your printer and your screen."
    1102                    "This is a printer font.  The closest matching Windows font will be used on your screen."
    1103                    "This is a screen font.  The closest matching printer font will be used for printing."
    1104                    "The 'From' value is below the minimum page."
    1105                    "The 'From' value is above the maximum page."
    1106                    "The 'To' value is below the minimum page."
    1107                    "The 'To' value is above the maximum page."
    1108                    "The 'From' field contains non-numeric characters or a number greater than 65535."
    1109                    "The 'To' field contains non-numeric characters or a number greater than 65535."
    1110                    "The 'From' and 'To' fields are empty and the Pages button is pressed."
    1111                    "The 'Copies' field is empty."
    1112                    "The 'Copies' field contains non-numeric characters."
    1113                    "The 'Copies' field must contain a positive value."
    1114                    "No default printer\n\nUse Control Panel to install and select a default printer"
    1115                    "%s driver file %s not found.  Please reinstall through Control Panel or choose another printer."
    1120                    "Network..."
    1153                    "Letter 8 1/2 x 11 in"
    1154                    "Letter Small 8 1/2 x 11 in"
    1155                    "Tabloid 11 x 17 in"
    1156                    "Ledger 17 x 11 in"
    1157                    "Legal 8 1/2 x 14 in"
    1158                    "Statement 5 1/2 x 8 1/2 in"
    1159                    "Executive 7 1/2 x 10 in"
    1160                    "A3 297 x 420 mm"
    1161                    "A4 210 x 297 mm"
    1162                    "A4 Small 210 x 297 mm"
    1163                    "A5 148 x 210 mm"
    1164                    "B4 250 x 354"
    1165                    "B5 182 x 257 mm"
    1166                    "Folio 8 1/2 x 13 in"
    1167                    "Quarto 215 x 275 mm"
    1168                    "10x14 in"
    1169                    "11x17 in"
    1170                    "Note 8 1/2 x 11 in"
    1171                    "Envelope #9 3 7/8 x 8 7/8 in"
    1172                    "Envelope #10 4 1/8 x 9 1/2 in"
    1173                    "Envelope #11 4 1/2 x 10 3/8 in"
    1174                    "Envelope #12 4 \276 x 11 in"
    1175                    "Envelope #14 5 x 11 1/2 in"
    1176                    "C size sheet"
    1177                    "D size sheet"
    1178                    "E size sheet"
    1179                    "Envelope DL 110 x 220 mm"
    1180                    "Envelope C5 162 x 229 mm"
    1181                    "Envelope C3 324 x 458 mm"
    1182                    "Envelope C4 229 x 324 mm"
    1183                    "Envelope C6 114 x 162 mm"
    1184                    "Envelope C65 114 x 229 mm"
    1185                    "Envelope B4 250 x 353 mm"
    1186                    "Envelope B5 176 x 250 mm"
    1187                    "Envelope B6 176 x 125 mm"
    1188                    "Envelope 110 x 230 mm"
    1189                    "Envelope Monarch 3 7/8 x 7 1/2 in"
    1190                    "6 3/4 Envelope 3 5/8 x 6 1/2 in"
    1191                    "US Std Fanfold 14 7/8 x 11 in"
    1192                    "German Std Fanfold 8 1/2 x 12 in"
    1193                    "German Legal Fanfold 8 1/2 x 13 in"
    1408                    "User Defined Size"
    1037                    "Close"
    1280                    "Fonts"
    1281                    "There are no fonts installed;\r\nRun Control Panel to install fonts."
    1282                    "Invalid font name.\nChoose a font from the list of fonts."
    1283                    "Invalid font style.\nChoose a style from the list of styles."
    1284                    "Regular"
    1285                    "Bold"
    1286                    "Italic"
    1287                    "Bold Italic"
    WCF_IDS_NORMAL          "Normal"
    WCF_IDS_ITALIC          "Italic"
    WCF_IDS_BOLD            "Bold"
    WCF_IDS_ITALICBOLD      "Italic Bold"
    WCF_IDS_SAMPLETEXT      "AaBbYyZz"
    WCF_IDS_THIN            "Thin"
    WCF_IDS_EXTRALIGHT      "Extra Light"
    WCF_IDS_ULTRALIGHT      "Ultra Light"
    WCF_IDS_LIGHT           "Light"
    WCF_IDS_REGULAR         "Regular"
    WCF_IDS_MEDIUM          "Medium"
    WCF_IDS_SEMIBOLD        "Semi Bold"
    WCF_IDS_DEMIBOLD        "Demi Bold"
    WCF_IDS_EXTRABOLD       "Extra Bold"
    WCF_IDS_ULTRABOLD       "Ultra Bold"
    WCF_IDS_BLACK           "Black"
    WCF_IDS_HEAVY           "Heavy"
    WCF_IDS_COLORBLACK      "Black"
    WCF_IDS_COLORMAROON     "Maroon"
    WCF_IDS_COLORGREEN      "Green"
    WCF_IDS_COLOROLIVE      "Olive"
    WCF_IDS_COLORNAVY       "Navy"
    WCF_IDS_COLORPURPLE     "Purple"
    WCF_IDS_COLORTEAL       "Teal"
    WCF_IDS_COLORGRAY       "Gray"
    WCF_IDS_COLORSILVER     "Silver"
    WCF_IDS_COLORRED        "Red"
    WCF_IDS_COLORLIME       "Lime"
    WCF_IDS_COLORYELLOW     "Yellow"
    WCF_IDS_COLORBLUE       "Blue"
    WCF_IDS_COLORFUCHSIA    "Fuchsia"
    WCF_IDS_COLORAQUA       "Aqua"
    WCF_IDS_COLORWHITE      "White"
END
