[submodule "fat"]
	path = filesys/fat
	url = https://github.com/osfree-project/fat32.git
[submodule "jfs"]
	path = filesys/jfs
	url = https://github.com/osfree-project/openjfs.git
[submodule "OS2/Server"]
	path = OS2/Server
	url = https://github.com/osfree-project/os3.git
[submodule "OS2/MM/WPS"]
	path = OS2/MM/WPS
	url = https://github.com/osfree-project/CWMM.git
[submodule "DOS"]
	path = DOS
	url = https://github.com/osfree-project/DOS
