[submodule "fat"]
	path = filesys/fat
	url = https://github.com/osfree-project/fat32.git
	update = merge
	branch = master
[submodule "jfs"]
	path = filesys/jfs
	url = https://github.com/osfree-project/openjfs.git
	update = merge
	branch = master
[submodule "OS2/Server"]
	path = OS2/Server
	url = https://github.com/osfree-project/os3.git
	update = merge
	branch = master
[submodule "OS2/MM/WPS"]
	path = OS2/MM/WPS
	url = https://github.com/osfree-project/CWMM.git
	update = merge
	branch = master
[submodule "bootseq"]
	path = bootseq
	url = https://github.com/osfree-project/FreeLdr.git
	update = merge
	branch = master
[submodule "Win32"]
	path = Win32
	url = https://github.com/cl91/NeptuneOS
	update = merge
	branch = master
[submodule "OS2/WPS/xworkplace"]
	path = OS2/WPS/xworkplace
	url = https://github.com/rousseaux/netlabs.xworkplace
	update = merge
	branch = master
[submodule "DOS"]
	path = DOS
	url = https://github.com/osfree-project/DOS
	branch = master
