#
# BPB fields (in REXX notation, except for comments)
#

oemid       = '[[OS/3]]'      # OEM id (8 bytes)
sectorsize  = 512             # Sector size (word)
clustersize = 1               # Sectors per cluster (byte)
res_sectors = 2               # Reserved sectors (word)
nfats       = 0               # Number of fats (byte)
rootdirsize = 224             # Root dir size (word)
nsecs       = 2880            # Size of part. in sectors, if <= 32 Mb (word)
mediadesc   = 'F0'x           # Media descriptor (byte)
fatsize     = 0               # FAT size (word)
                              
tracksize   = 18              # Track size in sectors (word)
headscount  = 2               # Heads count (word)
hiddensecs  = 0               # Hidden sectors (dword)
nsecs_ext   = 0               # Size of part. in sectors, if > 32 Mb (dword)

# Extended BPB
disknum     = '00'x           # Physical disk number (byte)
logdrive    = '01'x           # Logical drive number (byte)

marker      = '29'x           # Marker = 29h (byte)
volserno    = '11 22 33 44'x  # Volume serial number (dword)
vollabel    = 'OS3BOOT    '   # Volume label (11 bytes)
filesys     = 'EXT2    '      # Filesystem name (8 bytes)
