#include <os2.h>
#include "resource.h"

#define ID_RESOURCE 1

#ifdef __LINUX__
POINTER ID_RESOURCE "../shared/4os2.ico"
#elsif
POINTER ID_RESOURCE "..\\shared\\4os2.ico"
#endif
rcinclude "option2.dlg"

