#include "pmrxhlp.h"
#include "pmrexxio.h"
#include "rxhdluse.h"

HELPTABLE PMREXX_HELPTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  HELPITEM RXHOST_WIN,     PMREXX_SUBTABLE,        IDH_RXHM_EXTHELP
  HELPITEM RXD_SAVEQUIT,   SAVEQUIT_SUBTABLE,      IDH_SAVEQUIT
END

HELPSUBTABLE PMREXX_SUBTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  HELPSUBITEM PMRXM_FILE,       IDH_RXHM_FILE
  HELPSUBITEM PMRXA_SAVE,       IDH_RXHA_SAVE
  HELPSUBITEM PMRXA_SAVEAS,     IDH_RXHA_SAVEAS
  HELPSUBITEM PMRXA_EXIT,       IDH_RXHA_EXIT
  HELPSUBITEM PMRXA_RESTART,    IDH_RXH_RERUNPROC
  HELPSUBITEM PMRXA_ABOUT,      IDH_RXHA_ABOUT
END

HELPSUBTABLE SAVEQUIT_SUBTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  HELPSUBITEM RXHD_B_SAVE,     IDH_B_SAVE
  HELPSUBITEM RXHD_B_SAVEAS,   IDH_B_SAVEAS
  HELPSUBITEM RXHD_B_DISCARD,  IDH_B_DISCARD
  HELPSUBITEM DID_CANCEL,      IDH_B_CANCEL
  HELPSUBITEM DID_HELP,        IDH_B_HELP
END
