#include "pmrxhlp.h"
#include "pmrexxio.h"
#include "rxhdluse.h"
#include "pmrxiodt.h"

HELPTABLE PMREXX_HELPTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  HELPITEM RXHOST_WIN,      PMREXX_SUBTABLE,        IDH_RXHM_EXTHELP
  HELPITEM DID_FILE_DIALOG, SAVEQUIT_SUBTABLE,      IDH_SAVEQUIT
  HELPITEM DID_FONT_DIALOG, FONT_DIALOG_SUBTABLE,   IDH_FONT_DIALOG
  HELPITEM PMREXX_SEARCH,   SEARCH_SUBTABLE,        IDH_SEARCH
END

HELPSUBTABLE PMREXX_SUBTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  HELPSUBITEM RXIOM_EDIT,       IDH_RXHM_EDIT
  HELPSUBITEM RXIOA_CUT,        IDH_RXHA_CUT
  HELPSUBITEM RXIOA_COPY,       IDH_RXHA_COPY
  HELPSUBITEM RXIOA_PASTE,      IDH_RXHA_PASTE
  HELPSUBITEM RXIOA_DELETE,     IDH_RXHA_DELETE
  HELPSUBITEM RXIOA_ALL,        IDH_RXHA_ALL
  HELPSUBITEM RXIOA_DALL,       IDH_RXHA_DALL
  HELPSUBITEM RXIOA_TRACE,      IDH_RXHA_TRACE
  HELPSUBITEM RXIOA_FONTS,      IDH_RXHA_FONTS
  HELPSUBITEM RXIOA_PROPERTIES, IDH_RXHA_PROPERTIES
  HELPSUBITEM RXIOA_RESULTS,    IDH_RXHA_RESULTS
  HELPSUBITEM RXIOA_SEARCH,     IDH_RXHA_SEARCH
  HELPSUBITEM RXIOM_ACTIONS,    IDH_RXHM_ACTIONS
  HELPSUBITEM RXIOA_HALT,       IDH_RXHA_HALT
  HELPSUBITEM RXIOA_TRCSTEP,    IDH_RXHA_TRCSTEP
  HELPSUBITEM RXIOA_TRCLAST,    IDH_RXHA_TRCLAST
  HELPSUBITEM RXIOA_TRCOFF,     IDH_RXHA_TRCOFF
  HELPSUBITEM RXIOM_HELP,       IDH_RXHM_HELP
  HELPSUBITEM RXIOM_HELPHELP,   IDH_RXHM_HELPHELP
  HELPSUBITEM RXIOM_EXTHELP,    IDH_RXHM_EXTHELP
  HELPSUBITEM RXIOM_KEYSHELP,   IDH_RXHM_KEYSHELP
  HELPSUBITEM RXIOM_INDEXHELP,  IDH_RXHM_INDEXHELP
  HELPSUBITEM PMRXM_FILE,       IDH_RXHM_FILE
  HELPSUBITEM PMRXA_SAVE,       IDH_RXHA_SAVE
  HELPSUBITEM PMRXA_SAVEAS,     IDH_RXHA_SAVEAS
  HELPSUBITEM PMRXA_EXIT,       IDH_RXHA_EXIT
  HELPSUBITEM PMRXA_RESTART,    IDH_RXH_RERUNPROC
  HELPSUBITEM PMRXA_ABOUT,      IDH_RXHA_ABOUT
END

HELPSUBTABLE SEARCH_SUBTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  HELPSUBITEM PMREXX_SEARCH,    IDH_SEARCH
  HELPSUBITEM PB_HELP,          IDH_SEARCH
  HELPSUBITEM PB_OK,            IDH_SEARCH_OK
  HELPSUBITEM PB_CANCEL,        IDH_SEARCH_CANCEL
  HELPSUBITEM RX_SEARCH_FIELD,  IDH_SEARCH_FIELD
  HELPSUBITEM RX_CASEBOX,       IDH_SEARCH_CASE
END

HELPSUBTABLE SAVEQUIT_SUBTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  HELPSUBITEM DID_CANCEL_PB,      IDH_PB_CANCEL
  HELPSUBITEM DID_OK_PB,          IDH_PB_OK
  HELPSUBITEM DID_HELP_PB,        IDH_PB_HELP
  HELPSUBITEM DID_FILENAME_ED,    IDH_FILENAME
  HELPSUBITEM DID_DRIVE_CB,       IDH_DRIVE
  HELPSUBITEM DID_FILTER_CB,      IDH_FILTER
  HELPSUBITEM DID_DIRECTORY_LB,   IDH_DIRECTORY
  HELPSUBITEM DID_FILES_LB,       IDH_FILES
END

HELPSUBTABLE FONT_DIALOG_SUBTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  HELPSUBITEM DID_CANCEL_PB,      IDH_FONT_CANCEL
  HELPSUBITEM DID_OK_PB,          IDH_FONT_OK
  HELPSUBITEM DID_HELP_PB,        IDH_FONT_DIALOG
  HELPSUBITEM DID_NAME,           IDH_FONT_NAME
  HELPSUBITEM DID_STYLE,          IDH_FONT_STYLE
  HELPSUBITEM DID_SIZE,           IDH_FONT_SIZE
  HELPSUBITEM DID_DISPLAY_FILTER, IDH_FONT_DISPLAY
  HELPSUBITEM DID_PRINTER_FILTER, IDH_FONT_PRINT
  HELPSUBITEM DID_OUTLINE,        IDH_FONT_OUTLINE
  HELPSUBITEM DID_UNDERSCORE,     IDH_FONT_UNDERSCORE
  HELPSUBITEM DID_STRIKEOUT,      IDH_FONT_STRIKEOUT
END
