[4OS2]
AppendToDir=Yes
TabStops=4
BrightBG=Yes
EditMode=Insert
CursorIns=15
CursorOver=100
HelpBook	4OS2+CMDREF
PopupWinTop=1
DecimalChar=.
CDDWinLeft=14
ColorDir=HIDDEN:14 ON GRE; DIRS:YEL; RDONLY:RED on white; COMPRESSED zip rar arj wpi:CYA; exe com bat cmd:14; ini:Bright magenta

;AB extensions
CDWithoutBackslash=2
NewByteDisp=2
;PopupWinPosRelative=No
;TitleIsCurDir=No
;ChangeTitle=No
