
@rem Instead of enabling the following mode command,
@rem make a program object with properties
@rem 'Path' "*" and 'Parameters' "/c  mode co80,100 && x:\SYS\APPS\4OS2\4OS2.EXE"

@rem mode co80,100

@prompt=$i$e[33m{$r}$e[36;1m[$p]$e[0m$s

@alias ..=cd..
@alias ...=cd \
@alias dir=`iff %# eq 0 then %+ *dir /hat %+ else *dir %$ %+ endiff`

@if not defined CDPATH set CDPATH=..;..\..;

@echo Review %@full[%0] and
@echo edit (E) to suit your needs. Then delete these lines ending with '@set key='.
@echo accept (A) this file with these lines removed
@echo skip (S) over this message it will appear again the next time you start 4OS2
@echo  
@inkey /k"EAS" Edit %@full[%0] now [E/A/S]? %%key
@iff "%key"=="E" .OR. "%key"=="e" then
     @start e.exe %@full[%0]
else iff "%key"=="A" .OR. "%key"=="a" then
     @move /Q /E 4start.cmd.tpl2 4start.cmd
else
     cls
endiff
@set key=

