#include <os2.h>
#include <mmioos2.h>
#include "image.h"

DEFAULTICON                 "contrib/image.ico"
ICON          ID_IMAGE      "contrib/image.ico"
ICON          ID_ARTICON    "contrib/camera.ico"
ICON          ID_CROSSICON  "contrib/cross.ico"

ACCELTABLE ID_IMAGE
{
  VK_F1,       IDM_HELP,          VIRTUALKEY
  "i",         IDM_IMAGEINFO,     CONTROL
  "I",         IDM_IMAGEINFO,     CONTROL
  VK_F2,       IDM_IMAGEINFO,     VIRTUALKEY
  "x",         SC_CLOSE,          SYSCOMMAND,CONTROL
  "X",         SC_CLOSE,          SYSCOMMAND,CONTROL
  VK_F3,       SC_CLOSE,          SYSCOMMAND,VIRTUALKEY
  "b",         IDM_BESTSIZE,      CONTROL
  "B",         IDM_BESTSIZE,      CONTROL
  VK_F4,       IDM_BESTSIZE,      VIRTUALKEY
  "l",         IDM_IMAGELOAD,     CONTROL
  "L",         IDM_IMAGELOAD,     CONTROL
  VK_F5,       IDM_IMAGERELOAD,   CONTROL,VIRTUALKEY
  VK_F5,       IDM_IMAGELOAD,     VIRTUALKEY
  "c",         IDM_CONVERTIMAGE,  CONTROL
  "C",         IDM_CONVERTIMAGE,  CONTROL
  VK_F6,       IDM_CONVERTIMAGE,  VIRTUALKEY
  "s",         IDM_SAVEIMAGE,     CONTROL
  "S",         IDM_SAVEIMAGE,     CONTROL
  VK_F7,       IDM_SAVEIMAGE,     VIRTUALKEY
  "y",         IDM_ICONIFY,       CONTROL
  "Y",         IDM_ICONIFY,       CONTROL
  VK_F8,       IDM_ICONIFY,       VIRTUALKEY
  "r",         IDM_CROP,          CONTROL
  "R",         IDM_CROP,          CONTROL
  VK_F9,       IDM_CROP,          VIRTUALKEY
  "o",         IDM_COPY,          CONTROL
  "O",         IDM_COPY,          CONTROL
  VK_F10,      IDM_COPY,          VIRTUALKEY
  "p",         IDM_PASTE,         CONTROL
  "P",         IDM_PASTE,         CONTROL
  VK_F11,      IDM_STRETCHPASTE,  VIRTUALKEY,CONTROL
  VK_F11,      IDM_WEIRDPASTE,    VIRTUALKEY,SHIFT
  VK_F11,      IDM_PASTE,         VIRTUALKEY
  VK_F12,      IDM_COMPRESSION,   VIRTUALKEY
  "z",         IDM_RESIZE,        CONTROL
  "Z",         IDM_RESIZE,        CONTROL
  "h",         IDM_HORIZONTAL,    CONTROL
  "H",         IDM_HORIZONTAL,    CONTROL
//  "t",         IDM_ROTATE,        CONTROL
//  "T",         IDM_ROTATE,        CONTROL
  "v",         IDM_VERTICAL,      CONTROL
  "V",         IDM_VERTICAL,      CONTROL
  VK_ESC,      IDM_CANCEL,        VIRTUALKEY
}

MENU ID_IMAGE
{
  MENUITEM "~About FM/2 Image...\tF1",                IDM_HELP
  MENUITEM "",                                        -1, MIS_SEPARATOR
  MENUITEM "~Image information...\tF2 or Ctrl + I",   IDM_IMAGEINFO
  MENUITEM "",                                        -1, MIS_SEPARATOR
  MENUITEM "~Best size\tF4 or Ctrl + B",              IDM_BESTSIZE
  MENUITEM "Compressed display toggle\tF12",          IDM_COMPRESSION
  MENUITEM "",                                        -1, MIS_SEPARATOR
  MENUITEM "~Load image...\tF5 or Ctrl + L",          IDM_IMAGELOAD
  MENUITEM "Reload image...\tCtrl + F5",              IDM_IMAGERELOAD
  MENUITEM "",                                        -1, MIS_SEPARATOR
  MENUITEM "~Convert image...\tF6 or Ctrl + C",       IDM_CONVERTIMAGE
  MENUITEM "~Save image as...\tF7 or Ctrl + S",       IDM_SAVEIMAGE
  MENUITEM "Iconif~y\tF8 or Ctrl + Y",                IDM_ICONIFY
  MENUITEM "",                                        -1, MIS_SEPARATOR
  MENUITEM "C~rop\tF9 or Ctrl + R",                   IDM_CROP
//  MENUITEM "Ro~tate\tCtrl + T",                       IDM_ROTATE
  MENUITEM "Flop ~vertical\tCtrl + V",                IDM_VERTICAL
  MENUITEM "Flop ~horizontal\tCtrl + H",              IDM_HORIZONTAL
  MENUITEM "Resi~ze...\tCtrl + Z",                    IDM_RESIZE
  MENUITEM "",                                        -1, MIS_SEPARATOR
  MENUITEM "C~opy\tF10 or Ctrl + O",                  IDM_COPY
  MENUITEM "~Paste (+ Ctrl to stretch)\tF11",         IDM_PASTE
  MENUITEM "",                                        -1, MIS_SEPARATOR
  MENUITEM "E~xit\tF3",                               IDM_CLOSE
}

RCINCLUDE     "contrib/image.dlg"
