#include <os2.h>
#include "kshell.h"

RCINCLUDE "cpdlg.dlg"

MENU ID_POPUP
BEGIN
    MENUITEM "~Codepage...", IDM_CODEPAGE
    MENUITEM "~Fonts...", IDM_FONT
    MENUITEM SEPARATOR
    MENUITEM "Cop~y", IDM_COPY
    MENUITEM "Copy ~All", IDM_COPYALL
    MENUITEM "~Paste", IDM_PASTE
    MENUITEM SEPARATOR
    MENUITEM "~Use FT2LIB", IDM_FT2LIB,, MIA_CHECKED
END

ICON ID_KSHELL "kshell.ico"

