#define  INCL_PM
#define  INCL_WIN
#include <os2.h>
#include "pmrexxio.h"
#include "rxhdluse.h"
#include "pmrxiodt.h"
#include "pmrexx.h"

rcinclude rxiohlp.rc

ICON    RXHOST_WIN pmrexx.ico
POINTER 1 pmrexx.ico

MENU    RXHOST_WIN PRELOAD
BEGIN
  SUBMENU "~File",   PMRXM_FILE
    BEGIN
      MENUITEM "~Save\tCtrl+S",       PMRXA_SAVE,         MIS_TEXT
      MENUITEM "Save ~as...",         PMRXA_SAVEAS,       MIS_TEXT
      MENUITEM "",                    ID_NULL,            MIS_SEPARATOR
      SUBMENU  "~Properties",         RXIOA_PROPERTIES,   MIS_TEXT
        BEGIN
          MENUITEM "~Font...",        RXIOA_FONTS,        MIS_TEXT
          MENUITEM "Append ~Results", RXIOA_RESULTS,      MIS_TEXT, MIA_CHECKED
        END
      MENUITEM "",                    ID_NULL,            MIS_SEPARATOR
      MENUITEM "E~xit\tF3",           PMRXA_EXIT,         MIS_TEXT
    END
  SUBMENU "~Edit",  RXIOM_EDIT
    BEGIN
      MENUITEM "Cu~t",                   RXIOA_CUT,       MIS_TEXT
      MENUITEM "~Copy\tCtrl+Insert",     RXIOA_COPY,      MIS_TEXT
      MENUITEM "Pa~ste\tShift+Insert",   RXIOA_PASTE,     MIS_TEXT
      MENUITEM "",                       ID_NULL,         MIS_SEPARATOR
      MENUITEM "~Delete\tDelete",        RXIOA_DELETE,    MIS_TEXT
      MENUITEM "",                       ID_NULL,         MIS_SEPARATOR
      MENUITEM "Select ~all",            RXIOA_ALL,       MIS_TEXT
      MENUITEM "Dese~lect all",          RXIOA_DALL,      MIS_TEXT
      MENUITEM "",                       ID_NULL,         MIS_SEPARATOR
      MENUITEM "~Search...",             RXIOA_SEARCH,    MIS_TEXT
    END
 SUBMENU "~Trace",  RXIOM_ACTIONS
    BEGIN
      MENUITEM "~Interactive trace on",RXIOA_TRACE,       MIS_TEXT
      MENUITEM "",                     ID_NULL,           MIS_SEPARATOR
      MENUITEM "~Trace off",           RXIOA_TRCOFF,      MIS_TEXT,MIA_DISABLED
      MENUITEM "",                     ID_NULL,           MIS_SEPARATOR
      MENUITEM "Trace ~next clause",   RXIOA_TRCSTEP,     MIS_TEXT,MIA_DISABLED
      MENUITEM "~Re-do last clause",   RXIOA_TRCLAST,     MIS_TEXT,MIA_DISABLED
      MENUITEM "",                     ID_NULL,           MIS_SEPARATOR
      MENUITEM "~Restart",             PMRXA_RESTART,     MIS_TEXT,MIA_DISABLED
      MENUITEM "~Halt procedure",      RXIOA_HALT,        MIS_TEXT,MIA_DISABLED
    END
 SUBMENU "~Help", RXIOM_HELP
    BEGIN
      MENUITEM "Help ~index...",          RXIOM_INDEXHELP,   MIS_TEXT
      MENUITEM "~General help...",        RXIOM_EXTHELP,     MIS_TEXT
      MENUITEM "~Using help...",          RXIOM_HELPHELP,    MIS_TEXT
      MENUITEM "~Keys help...",           RXIOM_KEYSHELP,    MIS_TEXT
      MENUITEM SEPARATOR
      MENUITEM "~Product information...", PMRXA_ABOUT,       MIS_TEXT
    END
END

STRINGTABLE
BEGIN
  WINDOW_TEXT              "The PM/REXX Interface"
  MLE_CREATE_ERROR         "MLE Create Error"
  MLE_IMPORT_ERROR         "MLE Import Error"
  MLE_IMEXPORT_ERROR       "MLE Set Import/Export Error"
  INPUT_TITLE              "Input:"
  RXHB_MSGBOXHDR           "PMREXX: Error"
  HELP_ERR                 "Help Error"
  NO_HELP_MGR              "The Help Manager is not initialized for this window."
  PMREXX_HELPFILENAME      "PMREXXIO.HLP"
  PMREXX_HELP_TITLE        "PMREXX Help Information"
  FONT_TITLE               "PMREXX Font Selection"
  ERROR_HELPASSOC          "Error associating Help instance"
  ERROR_HELPCREATE         "Error creating Help instance"
  INIT_FAILED              "Initialization failed. Cannot continue."
  RXIOH_ERR_CLIPBRD        "Clipboard Error"
  RXIOH_ERR_DELETE         "Delete could not be completed."
  RXIOH_ERR_COPY           "Copy could not be completed."
  RXIOH_ERR_CUT            "Cut could not be completed."
  SAMPLE_TEXT              "aBcDeFgHiJkLmNoPqRsTuVwXyZ"
  RX_ALLOCERR              "Unable to allocate necessary memory."
  SEARCH_TITLE             "PMREXX Search Function"
  SEARCH_ERROR             "String not found"
END

DLGTEMPLATE RH_EF1 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    CONTROL "", ID_EF1, 0, 0, 0, 0, WC_ENTRYFIELD, ES_LEFT |
            ES_MARGIN | WS_TABSTOP | ES_AUTOSCROLL
END
