;
; L4 microkernel
;

default 3

set PN      = ()\l4\bin
set L4      = ()\l4\bin
set CFG     = ()\l4\cfg
set LX      = ()\l4\lx
set OS2     = $(PN)\os3
set RD_DENV = $(LX)\image-bb
set FIASCOARGS = "-serial -jdb_never_stop -tbuf_entries=32768 -jdb_cmd=JH"
set MODADDR = 0x02000000
set VMODE   = 0x114

title   L4Ka::Pistachio with pingpong test
kernel  ()\l4ka\kickstart
module  ()\l4ka\i586-kernel
module  ()\l4ka\sigma0
module  ()\l4ka\pingpong

title   L4Ka::Pistachio with pingpong test (fd0)
kernel  (fd0)\l4ka\kickstart
module  (fd0)\l4ka\i586-kernel
module  (fd0)\l4ka\sigma0
module  (fd0)\l4ka\pingpong

title   L4Ka::Pistachio with pingpong test (hd0)
kernel  (hd0)\l4ka\kickstart
module  (hd0)\l4ka\i586-kernel
module  (hd0)\l4ka\sigma0
module  (hd0)\l4ka\pingpong

title   L4Ka::Pistachio with pingpong test (hd0,0)
kernel  (hd0,0)\l4ka\kickstart
module  (hd0,0)\l4ka\i586-kernel
module  (hd0,0)\l4ka\sigma0
module  (hd0,0)\l4ka\pingpong

title   L4Ka::Pistachio with pingpong test (hd0,2)
kernel  (hd0,2)\l4ka\kickstart
module  (hd0,2)\l4ka\i586-kernel
module  (hd0,2)\l4ka\sigma0
module  (hd0,2)\l4ka\pingpong

title    L4/Fiasco with pingpong benchmark
kernel   $(L4)\bootstrap -serial
modaddr  $(MODADDR)
module   $(L4)\fiasco $(FIASCOARGS)
module   $(L4)\sigma0
module   $(L4)\roottask
module   $(PN)\pingpong

title   DOpE
kernel  $(L4)\bootstrap -serial
modaddr $(MODADDR)
module  $(L4)\fiasco $(FIASCOARGS)
module  $(L4)\sigma0
module  $(L4)\roottask
module  $(PN)\names
module  $(PN)\log
module  $(PN)\dm_phys
module  $(PN)\l4io
module  $(PN)\l4dope
module  $(PN)\vscrtest
vbeset  $(VMODE)

title   Nitpicker with dope
kernel  $(L4)\bootstrap -serial
modaddr $(MODADDR)
module  $(L4)\fiasco $(FIASCOARGS)
module  $(L4)\sigma0
module  $(L4)\roottask
module  $(PN)\names
module  $(PN)\log
module  $(PN)\dm_phys
module  $(PN)\l4io
module  $(PN)\nitpicker
module  $(PN)\nitdope
module  $(PN)\vscrtest
vbeset  $(VMODE)

title L4Linux 2.6 [console]
kernel $(L4)\bootstrap -serial
modaddr 0x02000000
module $(L4)\fiasco $(FIASCOARGS)
module $(L4)\sigma0
module $(L4)\roottask -symbols -lines task modname "loader" boot_priority 0xA0 allow_cli task modname "bmodfs" attached 7 modules
module $(L4)\fiasco_symbols
module $(L4)\fiasco_lines
module $(PN)\events
module $(PN)\names --events
module $(PN)\logcon --prio 0xA1 --buffer 0
module $(PN)\dm_phys --events --isa=0x00800000
module $(PN)\simple_ts -t 380 -a --events
module $(PN)\rtc --events
module $(PN)\l4io --events
module $(PN)\bmodfs
  module $(PN)\libloader.s.so
  module $(PN)\libld-l4.s.so
  module $(PN)\run
  module $(CFG)\run.cfg
  module $(LX)\vmlinuz26
  module $(CFG)\l4linux26.cfg
  module $(LX)\initrd.img
module $(PN)\l4con --events
module $(PN)\loader --events --fprov=BMODFS run.cfg l4linux26.cfg
vbeset $(VMODE)

title L4Linux 2.6 [nitdope]
kernel $(L4)\bootstrap -serial
modaddr 0x02000000
module $(L4)\fiasco $(FIASCOARGS)
module $(L4)\sigma0
module $(L4)\roottask -symbols -lines task modname "loader" boot_priority 0xA0 allow_cli task modname "bmodfs" attached 5 modules
module $(L4)\fiasco_symbols
module $(L4)\fiasco_lines
module $(PN)\events
module $(PN)\names --events
module $(PN)\log --prio 0xA1 --buffer 0
module $(PN)\dm_phys --events --isa=0x00800000
module $(PN)\simple_ts -t 380 -a --events
module $(PN)\rtc --events
module $(PN)\l4io --events
module $(PN)\bmodfs
  module $(PN)\libloader.s.so
  module $(PN)\libld-l4.s.so
  module $(LX)\vmlinuz26
  module $(CFG)\l4linux26.cfg
  module $(LX)\initrd.img
module $(PN)\nitpicker --events
module $(PN)\nitdope
module $(PN)\vscrtest
module $(PN)\loader --events --fprov=BMODFS l4linux26.cfg
vbeset $(VMODE)

title fiasco + loader + l4lx26.ux with BMODFS
kernel $(L4)\bootstrap -serial
modaddr $(MODADDR)
module $(L4)\fiasco $(FIASCOARGS)
module $(L4)\sigma0
module $(L4)\roottask task modname "bmodfs" attached 4 modules
module $(PN)\names
module $(PN)\log --prio 0xA1
module $(PN)\dm_phys --isa=0x00800000
module $(PN)\simple_ts -t 900
module $(PN)\rtc
module $(PN)\l4io --noirq
module $(PN)\l4con --l4io --cpuload
module $(PN)\bmodfs
  module $(CFG)\l4linux26.cfg
  module $(PN)\libloader.s.so
  module $(LX)\vmlinuz26.ux
  module $(RD_DENV)
module $(PN)\loader --fprov=BMODFS l4linux26.cfg
vbeset $(VMODE)

title A Nitpicker's Guide to a minimal-complexity secure GUI
kernel $(L4)\bootstrap
modaddr 0x02000000
module $(L4)\fiasco $(FIASCOARGS)
module $(L4)\sigma0
module $(L4)\roottask task modname "bmodfs" attached 8 modules
module $(PN)\log
module $(PN)\names
module $(PN)\dm_phys
module $(PN)\l4io --noirq
module $(PN)\simple_ts -t 380
module $(PN)\rtc
module $(PN)\nitpicker
module $(PN)\nitovlwm
module $(PN)\loader --fprov BMODFS nitdope.cfg l4lx26.cfg ; usbhid "nitpicker_tutorial --fprov BMODFS"
module $(PN)\bmodfs
  module $(LX)\vmlinuz26
  module $(CFG)\l4lx26.cfg
  module $(CFG)\nitdope.cfg
  module $(PN)\nitdope
  module $(PN)\vscrtest
  module $(PN)\usbhid
  module $(LX)\drops-x.rd
  module $(PN)\libloader.s.so
vbeset $(VMODE)

title  L4linux/L4Con
kernel $(L4)\bootstrap
modaddr 0x02000000
module $(L4)\fiasco $(FIASCOARGS)
module $(L4)\sigma0
module $(L4)\roottask task modname "loader" allow_cli task modname "bmodfs" attached 5 modules
module $(PN)\log
module $(PN)\names
module $(PN)\dm_phys
module $(PN)\l4io
module $(PN)\simple_ts -t 380
module $(PN)\rtc
module $(PN)\l4con --cpuload
module $(PN)\loader --fprov BMODFS l4lx26.cfg
module $(PN)\bmodfs
  module $(LX)\vmlinuz26
  module $(CFG)\l4lx26.cfg
  ;module $(PN)\usbhid
  ;module $(PN)\backdrop
  ;module $(PN)\reboot
  module $(LX)\drops-x.rd
  module $(PN)\libloader.s.so
  module $(PN)\libld-l4.s.so
vbeset $(VMODE) ; 0x117 323c46

title    OS/2 server prototype test via l4vfs
kernel $(L4)/bootstrap -serial
modaddr 0x02000000
module $(L4)/fiasco $(FIASCOARGS)
module $(L4)/sigma0
module $(L4)/roottask ^
  task modname 'simple_file_server' attached 44 modules ^
  task modname 'loader' allow_cli
module $(PN)/logcon
module $(PN)/events
module $(PN)/names --events
module $(PN)/dm_phys --events
module $(PN)/l4io
module $(PN)/rtc
module $(PN)/l4con --vbemode 0x114
module $(PN)/simple_ts -t 300 --events
module $(PN)/name_server
module $(PN)/term_con
module $(PN)/simple_file_server -v 14
  module $(PN)/os2/emx.dll
  module $(PN)/os2/emxlibcs.dll
  module $(PN)/os2/gnutu.dll
  module $(PN)/os2/sesmgr.dll
  module $(PN)/os2/quecalls.dll
  module $(PN)/os2/comp.exe
  module $(PN)/os2/unzip.exe
  module $(PN)/os2/cat.exe
  module $(PN)/os2/cut.exe
  module $(PN)/os2/ansi.exe
  module $(PN)/os2/sed.exe
  module $(PN)/os2/awk.exe
  module $(PN)/os2/more.exe
  module $(PN)/os2/cls.exe
  module $(PN)/os2/ver.exe
  module $(PN)/os2/minicmd.exe
  module $(PN)/os2/sort.exe
  module $(PN)/os2/cmd.exe
  module $(PN)/os2/mini33.exe
  module $(PN)/os2/argenv.exe
  module $(PN)/os2/scanenv.exe
  module $(PN)/os2/viocalls.dll
  module $(PN)/os2/moucalls.dll
  module $(PN)/os2/moncalls.dll
  module $(PN)/os2/kbdcalls.dll
  module $(PN)/os2/doscalls.dll
  module $(PN)/os2/sub32.dll
  module $(PN)/os2/msg.dll
  module $(PN)/os2/nls.dll
  module $(PN)/os2/libmemmgr.s.so
  module $(PN)/os2/lx.ixf
  module $(PN)/os2/ne.ixf
  module $(PN)/os2/run.cfg
  module $(PN)/os2/os2.cfg
  module $(PN)/os2/execsrv
  module $(PN)/os2/os2fs
  module $(PN)/os2/os2srv
  module $(PN)/os2/os2app
  module $(PN)/os2/kal.map
  module $(PN)/os2/config.sys
  module $(PN)/libloader.s.so
  module $(PN)/libld-l4.s.so
  module $(PN)/libdl.s.so
  module $(PN)/run
module $(PN)/fstab ^
  -c /file ^
  -c /file/system -v 14 -b / -m /file/system ^
  -c /dev -v 132 -b / -m /dev
module $(PN)/fprov_proxy
module $(PN)/loader --fprov=fprov_proxy_fs --events /file/system/run.cfg /file/system/os2.cfg
;vbeset $(VMODE)

title  Gnuppix - GNU/Hurd on L4 (debug output on vga)
kernel /l4hurd/laden -D -o vga
module /l4hurd/ia32-kernel
module /l4hurd/sigma0
module /l4hurd/wortel -D -o vga
module /l4hurd/physmem
module /l4hurd/task
module /l4hurd/deva
module /l4hurd/task
module /l4hurd/ruth

title  Gnuppix - GNU/Hurd on L4 (debug output on serial)
kernel /l4hurd/laden -D -o serial,uart1,speed=9600
module /l4hurd/ia32-kernel
module /l4hurd/sigma0
module /l4hurd/wortel -D -o serial,uart1,speed=9600
module /l4hurd/physmem
module /l4hurd/task
module /l4hurd/deva
module /l4hurd/task
module /l4hurd/ruth
