;
; OS/2 loading scenarios
;

default 1

; port speed
toggle set s {SPEED=9600} {SPEED=115200}
; port addr
toggle set p {PORT=0x3f8} {PORT=0x2f8} {PORT=0x3e8} {PORT=0x2e8}
; debug on/off
toggle set d {DBG=} {DBG=--debug}
; (primary) boot drive
toggle set r {D=z:} {D=y:} {D=x:} {D=c:}
; (secondary) boot drive
toggle set c {D2=o:} {D2=p:} {D2=q:} {D2=r:} {D2=s:} {D2=t:} {D2=u:} {D2=v:} {D2=w:} {D2=x:} {D2=y:} {D2=z:}
; start config.sys editor first
toggle set f {ED=} {ED=--cfged}
; config suffix
toggle set g {C=-ramfs} {C=-ndfs} {C=-tshell} {C=-pm} {C=-lvm} {C=}
; OS type
toggle set o {O=aurora,L=} {O=merlin,L=} {O=warp3,L=0xb} {O=os220,L=--ldrlen=0xa} {O=os221,L=--ldrlen=0xa} {O=os4,L=--ldrlen=0xf}
; SMP on/off?
toggle set S {S=} {S=-smp}

title   OS/2 with PM (memboot)
kernel  ()/boot/loader/chain.mdl --bootdev=()
module  ()/bootimgs/cdloader.bin

title   OS/2 with multiboot, autopreload, ramfs boot
kernel  ()\boot\loader\bootos2.mdl --fs=RAMFS --module=RAMFS --drv=$(D) --drv2=$(D2) --auto-preload --ramdisk-boot $(DBG) --port=$(PORT) --speed=$(SPEED) $(ED)
module  ()\os\$(O)\os2ldr os2ldr
module  ()\os\$(O)\os2ldr.msg os2ldr.msg
module  ()\os\$(O)\os2ldr.ini os2ldr.ini
module  ()\os\$(O)\os2dump os2dump
module  ()\os\$(O)\os2krnl os2krnl
module  ()\config$(C).sys config.sys
module  ()\os2\dll\doscall1$(S).dll os2\dll\doscall1.dll
module  ()\os2\boot\print01.sym

title   OS/2 with multiboot, autopreload, ndfs boot
kernel  ()\boot\loader\bootos2.mdl --fs=NDFS32 --module=NDFS32 --drv=s: --drv2=z: --auto-preload --remote-fs $(DBG) --port=$(PORT) --speed=$(SPEED) $(ED)
module  ()\os\$(O)\os2ldr os2ldr
module  ()\os\$(O)\os2ldr.msg os2ldr.msg
module  ()\os\$(O)\os2ldr.ini os2ldr.ini
module  ()\os\$(O)\os2dump os2dump
module  ()\os\$(O)\os2krnl os2krnl
module  ()\config$(C).sys config.sys
module  ()\os2\dll\doscall1$(S).dll os2\dll\doscall1.dll
;module  ()\os2\boot\ramfs.ifs
module  ()\os2\boot\cdfs.ifs
module  ()\os2\cmd.exe
;module  ()\os2\4os2.exe
;module  ()\os2\dll\jpos2dll.dll
module  ()\tools\nd0.cmd
module  ()\tools\netdrive\ndfs32.ifs
module  ()\tools\netdrive\ndctl.exe
module  ()\tools\netdrive\ndctl.cfg
module  ()\tools\netdrive\volumes.cfg
module  ()\tools\netdrive\ndcalls.dll
module  ()\tools\netdrive\nd.exe
module  ()\tools\netdrive\nd.msg
module  ()\tools\netdrive\ndfs.msg
module  ()\tools\netdrive\netdrive.reg
module  ()\os2\boot\os2cdrom.dmd
module  ()\os2\boot\call_exe.sys
module  ()\os2\system\call_exe.msg
module  ()\tools\nd0.cmd
module  ()\os2\dll\rexxutil.dll
module  ()\ibmcom\protocol.ini
module  ()\ibmcom\protocol\tcpip.nif
module  ()\ibmcom\protocol\tcpbeui.nif
module  ()\ibmcom\macs\dc21x4.nif
;module  ()\ibmcom\macs\rtl8029.nif
module  ()\ibmcom\lt0.msg
module  ()\ibmcom\pro.msg
module  ()\ibmcom\protocol\vswch1.msg

title   OS/2 with multiboot
kernel  ()\boot\loader\bootos2.mdl --pt=0x35,0x83 --fs=FAT32 --module=FAT32 --drv=auto $(DBG) --port=$(PORT) --speed=$(SPEED) $(ED)
module  ()\os\$(O)\os2ldr os2ldr
module  ()\os\$(O)\os2ldr.msg os2ldr.msg
module  ()\os\$(O)\os2dump os2dump
module  ()\os\$(O)\os2krnl os2krnl
module  ()\os\os4\os2ldr.ini os2ldr.ini
module  ()\kdb.ini
module  ()\altf2on.$$$
module  ()\os2logo
module  ()\config$(C).sys config.sys
module  ()\os2\boot\acpi.psd
module  ()\os2\boot\apm.add
module  ()\os2\boot\resource.sys
module  ()\os2\boot\altf1.cmd
module  ()\os2\boot\altf1bot.scr
module  ()\os2\boot\altf1mid.scr
module  ()\os2\boot\altf1top.scr
module  ()\config.x os2\boot\config.x
module  ()\os2\boot\clock01.sys
module  ()\os2\boot\screen01.sys
module  ()\os2\boot\kbdbase.sys
module  ()\os2\boot\isapnp.snp
module  ()\os2\boot\pnp.sys
module  ()\os2\boot\ibmkbd.sys
module  ()\os2\boot\chkdsk.sys
module  ()\os2\boot\mwdd32.sys
module  ()\os2\boot\usbohcd.sys
module  ()\os2\boot\usbuhcd.sys
module  ()\os2\boot\usbehcd.sys
module  ()\os2\boot\usbd.sys
module  ()\os2\boot\usbhid.sys
module  ()\os2\boot\print01.sys
module  ()\os2\boot\ibm1flpy.add
module  ()\os2\boot\danis506.add
module  ()\os2\boot\usbmsd.add
module  ()\os2\boot\usbcdrom.add
module  ()\os2\boot\xdfloppy.flt
module  ()\os2\boot\daniatapi.flt
module  ()\os2\boot\danidasd.dmd
module  ()\os2\boot\os2aspi.dmd
module  ()\os2\boot\country.sys
module  ()\os2\system\oso001.msg
module  ()\os2\boot\viotbl.dcp
module  ()\os2\boot\keyboard.dcp
module  ()\os2\boot\unicode.sys
module  ()\os2\boot\fat32.ifs
module  ()\os2\dll\doscall1.dll
module  ()\os2\dll\doscall1$(S).dll os2\dll\doscall1.dll
module  ()\os2\dll\sesmgr.dll
module  ()\os2\dll\msg.dll
module  ()\os2\dll\nls.dll
module  ()\os2\dll\os2char.dll
module  ()\os2\dll\bvscalls.dll
module  ()\os2\dll\bkscalls.dll
module  ()\os2\dll\bmscalls.dll
module  ()\os2\dll\kbdcalls.dll
module  ()\os2\dll\moucalls.dll
module  ()\os2\dll\viocalls.dll
module  ()\os2\dll\bvhvga.dll
module  ()\os2\dll\bvhsvga.dll
module  ()\os2\dll\uconv.dll
module  ()\language\codepage\ucstbl.lst
module  ()\language\codepage\ibm866
module  ()\language\codepage\ibm850

title   OS/2 with tshell (multiboot, autopreload)
kernel  ()\boot\loader\bootos2.mdl --fs=HPFS --module=HPFS --drv=c: --auto-preload $(DBG) --port=$(PORT) --speed=$(SPEED) $(ED)
module  ()\os\$(O)\os2ldr os2ldr
module  ()\os\$(O)\os2ldr.msg os2ldr.msg
module  ()\os\$(O)\os2dump os2dump
module  ()\os\$(O)\os2krnl os2krnl
module  ()\config$(C).sys config.sys
module  ()\os2\dll\doscall1$(S).dll os2\dll\doscall1.dll
module  ()\os2\boot\jfs.ifs
module  ()\os2\dll\ujfs.dll
module  ()\os2\boot\hpfs.ifs
module  ()\os2\dll\uhpfs.dll
module  ()\os2\chkdsk32.exe
module  ()\ibmlan\netprog\netwksta.200
module  ()\ibmlan\netprog\netwksta.sym
module  ()\ibmcom\protocol.ini
module  ()\ibmcom\protocol\tcpip.nif
module  ()\ibmcom\protocol\tcpbeui.nif
module  ()\ibmcom\macs\rtl8029.nif
module  ()\ibmcom\rfcbcst.lst
module  ()\ibmcom\rfcnames.lst
module  ()\ibmcom\rfccache.lst
module  ()\ibmlan\netprog\net.msg
module  ()\ibmcom\pro.msg pro.msg
module  ()\ibmcom\proh.msg proh.msh
module  ()\ibmcom\lt0.msg lt0.msh
module  ()\ibmcom\lantran.log
module  ()\ibmcom\lantran.log lantran.log
module  ()\ibmlan\ibmlan.ini

title   OS/2 with multiboot, HPFS
kernel  ()\boot\loader\bootos2.mdl --pt=0x35,0x83 --fs=HPFS --module=HPFS --drv=c: $(ED) $(DBG) --port=$(PORT) --speed=$(SPEED)
module  $(dsk)\os\$(O)\os2ldr os2ldr
module  $(dsk)\os\$(O)\os2ldr.msg os2ldr.msg
module  $(dsk)\os\$(O)\os2ldr.ini os2ldr.ini
module  $(dsk)\os\$(O)\os2dump os2dump
module  $(dsk)\os\$(O)\os2krnl os2krnl
module  $(dsk)\kdb.ini
module  $(dsk)\altf2on.$$$
module  $(dsk)\os2logo
module  $(dsk)\config$(C).sys config.sys
module  $(dsk)\os2\boot\resource.sys
module  $(dsk)\os2\boot\acpi.psd
;module  $(dsk)\os2\boot\sses.sys
module  $(dsk)\os2\boot\apm.add
module  $(dsk)\os2\boot\timer0.sys
module  $(dsk)\os2\boot\clock01.sys
module  $(dsk)\os2\boot\screen01.sys
module  $(dsk)\os2\boot\kbdbase.sys
module  $(dsk)\os2\boot\isapnp.snp
module  $(dsk)\os2\boot\pnp.sys
module  $(dsk)\os2\boot\ibmkbd.sys
module  $(dsk)\os2\boot\chkdsk.sys
;module  $(dsk)\os2\boot\mwdd32.sys
module  $(dsk)\os2\boot\usbohcd.sys
module  $(dsk)\os2\boot\usbuhcd.sys
module  $(dsk)\os2\boot\usbehcd.sys
module  $(dsk)\os2\boot\usbd.sys
module  $(dsk)\os2\boot\usbhid.sys
module  $(dsk)\os2\boot\print01.sys
module  $(dsk)\os2\boot\ibm1flpy.add
module  $(dsk)\os2\boot\danis506.add
module  $(dsk)\os2\boot\usbmsd.add
module  $(dsk)\os2\boot\usbcdrom.add
module  $(dsk)\os2\boot\xdfloppy.flt
module  $(dsk)\os2\boot\daniatapi.flt
;module  $(dsk)\os2\boot\lockcdr.flt
module  $(dsk)\os2\boot\danidasd.dmd
module  $(dsk)\os2\boot\os2aspi.dmd
module  $(dsk)\os2\boot\country.sys
module  $(dsk)\os2\system\oso001.msg
module  $(dsk)\os2\boot\viotbl.dcp
module  $(dsk)\os2\boot\keyboard.dcp
module  $(dsk)\os2\boot\unicode.sys
module  $(dsk)\os2\boot\hpfs.ifs
;module  $(dsk)\os2\jfs.ifs
module  ()\os2\dll\doscall1$(S).dll os2\dll\doscall1.dll
module  $(dsk)\os2\dll\sesmgr.dll
module  $(dsk)\os2\dll\msg.dll
module  $(dsk)\os2\dll\nls.dll
module  $(dsk)\os2\dll\os2char.dll
module  $(dsk)\os2\dll\bvscalls.dll
module  $(dsk)\os2\dll\bkscalls.dll
module  $(dsk)\os2\dll\bmscalls.dll
module  $(dsk)\os2\dll\kbdcalls.dll
module  $(dsk)\os2\dll\moucalls.dll
module  $(dsk)\os2\dll\viocalls.dll
module  $(dsk)\os2\dll\bvhvga.dll
module  $(dsk)\os2\dll\bvhsvga.dll
module  $(dsk)\os2\dll\uconv.dll
module  $(dsk)\os2\dll\uhpfs.dll
;module  $(dsk)\os2\dll\ujfs.dll
module  $(dsk)\os2\dll\chkdsk32.dll
module  $(dsk)\os2\chkdsk32.exe
;module  $(dsk)\os2\jfschk32.exe
;module  $(dsk)\sys\drv\sses\dll\sesmgr.dll
module  $(dsk)\language\codepage\ucstbl.lst
module  $(dsk)\language\codepage\ibm866
module  $(dsk)\language\codepage\ibm850

title   OS/2 with tshell (multiboot) $(dsk), HPFS(2)
kernel  ()\boot\loader\bootos2.mdl --pt=0x35,0x83 --fs=HPFS --module=HPFS --drv=dlat $(DBG) --port=$(PORT) --speed=$(SPEED) $(ED)
module  $(dsk)\os2ldr
module  $(dsk)\os2ldr.msg
module  $(dsk)\os2dump
module  $(dsk)\os2krnl
module  $(dsk)\kdb.ini
module  $(dsk)\altf2on.$$$
module  $(dsk)\os2logo
module  $(dsk)\config$(C).sys
module  $(dsk)\os2\boot\resource.sys
module  $(dsk)\os2\boot\acpi.psd
module  $(dsk)\os2\boot\sses.sys
module  $(dsk)\os2\boot\timer0.sys
module  $(dsk)\os2\boot\clock01.sys
module  $(dsk)\os2\boot\screen01.sys
module  $(dsk)\os2\boot\kbdbase.sys
module  $(dsk)\os2\boot\isapnp.snp
module  $(dsk)\os2\boot\pnp.sys
module  $(dsk)\os2\boot\ibmkbd.sys
module  $(dsk)\os2\boot\chkdsk.sys
;module  $(dsk)\os2\boot\mwdd32.sys
module  $(dsk)\os2\boot\usbohcd.sys
module  $(dsk)\os2\boot\usbuhcd.sys
module  $(dsk)\os2\boot\usbehcd.sys
module  $(dsk)\os2\boot\usbd.sys
module  $(dsk)\os2\boot\usbhid.sys
module  $(dsk)\os2\boot\print01.sys
module  $(dsk)\os2\boot\ibm1flpy.add
module  $(dsk)\os2\boot\danis506.add
module  $(dsk)\os2\boot\usbmsd.add
module  $(dsk)\os2\boot\usbcdrom.add
module  $(dsk)\os2\boot\xdfloppy.flt
module  $(dsk)\os2\boot\daniatapi.flt
module  $(dsk)\os2\boot\lockcdr.flt
module  $(dsk)\os2\boot\os2dasd.dmd
module  $(dsk)\os2\boot\os2lvm.dmd
module  $(dsk)\os2\boot\os2aspi.dmd
module  $(dsk)\os2\system\country.sys
module  $(dsk)\os2\system\oso001.msg
module  $(dsk)\os2\boot\viotbl.dcp
module  $(dsk)\os2\keyboard.dcp
module  $(dsk)\os2\boot\unicode.sys
module  $(dsk)\os2\boot\hpfs.ifs
module  $(dsk)\os2\jfs.ifs
module  ()\os2\dll\doscall1$(S).dll os2\dll\doscall1.dll
;module  $(dsk)\os2\dll\sesmgr.dll
module  $(dsk)\os2\dll\msg.dll
module  $(dsk)\os2\dll\nls.dll
module  $(dsk)\os2\dll\os2char.dll
module  $(dsk)\os2\dll\bvscalls.dll
module  $(dsk)\os2\dll\bkscalls.dll
module  $(dsk)\os2\dll\bmscalls.dll
module  $(dsk)\os2\dll\kbdcalls.dll
module  $(dsk)\os2\dll\moucalls.dll
module  $(dsk)\os2\dll\viocalls.dll
module  $(dsk)\os2\dll\bvhvga.dll
module  $(dsk)\os2\dll\bvhsvga.dll
module  $(dsk)\os2\dll\uconv.dll
module  $(dsk)\os2\dll\uhpfs.dll
module  $(dsk)\os2\dll\ujfs.dll
module  $(dsk)\os2\dll\chkdsk32.dll
module  $(dsk)\os2\chkdsk32.exe
module  $(dsk)\os2\jfschk32.exe
module  $(dsk)\sys\drv\sses\dll\sesmgr.dll
module  $(dsk)\language\codepage\ucstbl.lst
module  $(dsk)\language\codepage\ibm866
module  $(dsk)\language\codepage\ibm850

title   OS/2 with tshell (multiboot) $(dsk), JFS
kernel  ()\boot\loader\bootos2.mdl --pt=0x35,0x83 --fs=JFS --module=JFS --drv=c: $(DBG) --port=$(PORT) --speed=$(SPEED) $(ED)
module  $(dsk)\os\$(O)\os2ldr os2ldr
module  $(dsk)\os\$(O)\os2ldr.msg os2ldr.msg
module  $(dsk)\os\$(O)\os2dump os2dump
module  $(dsk)\os\$(O)\os2krnl os2krnl
module  $(dsk)\kdb.ini
module  $(dsk)\altf2on.$$$
module  $(dsk)\os2logo
module  $(dsk)\config$(C).sys config.sys
module  $(dsk)\os2\boot\resource.sys
module  $(dsk)\os2\boot\clock01.sys
module  $(dsk)\os2\boot\screen01.sys
module  $(dsk)\os2\boot\kbdbase.sys
module  $(dsk)\os2\boot\isapnp.snp
module  $(dsk)\os2\boot\pnp.sys
module  $(dsk)\os2\boot\ibmkbd.sys
module  $(dsk)\os2\boot\chkdsk.sys
;module  $(dsk)\os2\boot\mwdd32.sys
module  $(dsk)\os2\boot\usbohcd.sys
module  $(dsk)\os2\boot\usbuhcd.sys
module  $(dsk)\os2\boot\usbehcd.sys
module  $(dsk)\os2\boot\usbd.sys
module  $(dsk)\os2\boot\usbhid.sys
module  $(dsk)\os2\boot\print01.sys
module  $(dsk)\os2\boot\ibm1flpy.add
module  $(dsk)\os2\boot\danis506.add
module  $(dsk)\os2\boot\usbmsd.add
module  $(dsk)\os2\boot\usbcdrom.add
module  $(dsk)\os2\boot\xdfloppy.flt
module  $(dsk)\os2\boot\daniatapi.flt
module  $(dsk)\os2\boot\danidasd.dmd
module  $(dsk)\os2\boot\os2aspi.dmd
module  $(dsk)\os2\boot\country.sys
module  $(dsk)\os2\system\oso001.msg
module  $(dsk)\os2\boot\viotbl.dcp
module  $(dsk)\os2\boot\keyboard.dcp
module  $(dsk)\os2\boot\unicode.sys
module  $(dsk)\os2\boot\jfs.ifs
module  ()\os2\dll\doscall1$(S).dll os2\dll\doscall1.dll
module  $(dsk)\os2\dll\sesmgr.dll
module  $(dsk)\os2\dll\msg.dll
module  $(dsk)\os2\dll\nls.dll
module  $(dsk)\os2\dll\os2char.dll
module  $(dsk)\os2\dll\bvscalls.dll
module  $(dsk)\os2\dll\bkscalls.dll
module  $(dsk)\os2\dll\bmscalls.dll
module  $(dsk)\os2\dll\kbdcalls.dll
module  $(dsk)\os2\dll\moucalls.dll
module  $(dsk)\os2\dll\viocalls.dll
module  $(dsk)\os2\dll\bvhvga.dll
module  $(dsk)\os2\dll\bvhsvga.dll
module  $(dsk)\os2\dll\uconv.dll
module  $(dsk)\os2\dll\ujfs.dll
module  $(dsk)\os2\jfschk32.exe
module  $(dsk)\language\codepage\ucstbl.lst
module  $(dsk)\language\codepage\ibm866
module  $(dsk)\language\codepage\ibm850

title   OS/2 with alternative os2boot
kernel  ()\boot\loader\bootos2.mdl --pt=0x35,0x83 --drv=auto
module  ()\os\$(O)\os2ldr os2ldr
module  ()\os\$(O)\os2ldr.msg os2ldr.msg
module  ()\os\$(O)\os2dump os2dump
module  ()\os\$(O)\os2krnl os2krnl
module  ()\f32boot os2boot
module  ()0+1 *bootsec*

title   Start os2ldr with our microfsd (press 'o' to select OS)
root    ()
os2ldr  --prefix=()\os\$(O) $(L)

title   Load a bootsector of OS/2 partition (CHS)
kernel  ()\boot\loader\chain.mdl --bootdev=$(dsk)
bsmodule  $(dsk)0+1

title   Load a bootsector of OS/2 partition (I13X)
kernel  ()\boot\loader\chain.mdl --bootdev=$(dsk) --i13x
bsmodule  $(dsk)0+1
