set autoindent
set autotab
set autowrite
set digraph
set noerrorbells
set exrc
set noignorecase
set modelines
set nomore
set novice
set ruler
set showmatch
set shiftwidth=4  
set tabstop=4  
map #- :q
abbr! #i #include
abbr! #d #define
abbr! #n #ifndef
abbr! #f #ifdef
abbr! #m #ifdef _MICROC_
abbr! #e #endif
abbr #l #else
abbr! #l #else
