
/*
 * xwpres.rc:
 *      resource file for the XWorkplace resources module (XWPRES.DLL).
 *      This only contains resources which are independent of
 *      the currently selected XWorkplace language, such as icons
 *      and bitmaps. These used to be in XFLDR.DLL, but have been
 *      moved into a separate resource module with V0.9.7.
 */

/*
 *      Copyright (C) 1997-2006 Ulrich M”ller.
 *
 *      This file is part of the XWorkplace source package.
 *      XWorkplace is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published
 *      by the Free Software Foundation, in version 2 as it comes in the
 *      "COPYING" file of the XWorkplace main distribution.
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 */

#include "dlgids.h"

#ifndef __XWPLITE__
POINTER ID_ICONDLG LOADONCALL MOVEABLE DISCARDABLE grafx\xfldrdlg.ico
#else
POINTER ID_ICONDLG LOADONCALL MOVEABLE DISCARDABLE grafx_lite\ecs.ico
#endif

POINTER ID_STARTICON1 LOADONCALL MOVEABLE DISCARDABLE grafx\xfldstart1.ico
POINTER ID_STARTICON2 LOADONCALL MOVEABLE DISCARDABLE grafx\xfldstart2.ico
POINTER ID_SHUTICON1 LOADONCALL MOVEABLE DISCARDABLE grafx\xfldshut1.ico
POINTER ID_SHUTICON2 LOADONCALL MOVEABLE DISCARDABLE grafx\xfldshut2.ico

POINTER ID_ICONSYS LOADONCALL MOVEABLE DISCARDABLE grafx\xfsys.ico
POINTER ID_ICONWPS LOADONCALL MOVEABLE DISCARDABLE grafx\xfwps.ico

POINTER ID_ICONXWPCONFG LOADONCALL MOVEABLE DISCARDABLE grafx\xwpconfg.ico
POINTER ID_ICONXWPLIST  LOADONCALL MOVEABLE DISCARDABLE grafx\xclslist.ico
POINTER ID_ICONXWPSOUND  LOADONCALL MOVEABLE DISCARDABLE grafx\xwpsound.ico
POINTER ID_ICONXWPSCREEN  LOADONCALL MOVEABLE DISCARDABLE grafx\xwpscreen.ico
#ifndef __XWPLITE__
POINTER ID_ICONXMMCDPLAY  LOADONCALL MOVEABLE DISCARDABLE grafx\mmcdplay.ico
#endif
POINTER ID_ICONXMMVOLUME  LOADONCALL MOVEABLE DISCARDABLE grafx\mmvolume.ico
#ifndef __XWPLITE__
POINTER ID_ICONXCENTER LOADONCALL MOVEABLE DISCARDABLE grafx\xcenter.ico
#else
POINTER ID_ICONXCENTER LOADONCALL MOVEABLE DISCARDABLE grafx_lite\xcenter.ico
#endif
/* #ifndef __XWPLITE__
POINTER ID_ICONXMINI LOADONCALL MOVEABLE DISCARDABLE grafx\x-mini.ico
#endif */
#ifndef __XWPLITE__
POINTER ID_ICONXWPADMIN LOADONCALL MOVEABLE DISCARDABLE grafx\xwpadmin.ico
#endif

POINTER ID_ICONXWPTRASHEMPTY  LOADONCALL MOVEABLE DISCARDABLE grafx\xtrash1.ico
POINTER ID_ICONXWPTRASHFILLED LOADONCALL MOVEABLE DISCARDABLE grafx\xtrash2.ico

#ifndef __XWPLITE__
POINTER ID_ICONXWPMEDIA  LOADONCALL MOVEABLE DISCARDABLE grafx\xwpmedia.ico
#endif
POINTER ID_ICONXWPSTRING LOADONCALL MOVEABLE DISCARDABLE grafx\xwpstring.ico

POINTER ID_ICONSDANIM1 LOADONCALL MOVEABLE DISCARDABLE grafx\xfshut1.ico
POINTER ID_ICONSDANIM2 LOADONCALL MOVEABLE DISCARDABLE grafx\xfshut2.ico
POINTER ID_ICONSDANIM3 LOADONCALL MOVEABLE DISCARDABLE grafx\xfshut3.ico
POINTER ID_ICONSDANIM4 LOADONCALL MOVEABLE DISCARDABLE grafx\xfshut4.ico
POINTER ID_ICONSDANIM5 LOADONCALL MOVEABLE DISCARDABLE grafx\xfshut5.ico

#ifndef __XWPLITE__
POINTER ID_ICON_CDEJECT LOADONCALL MOVEABLE DISCARDABLE grafx\cd_eject.ico
POINTER ID_ICON_CDNEXT LOADONCALL MOVEABLE DISCARDABLE grafx\cd_next.ico
POINTER ID_ICON_CDPAUSE LOADONCALL MOVEABLE DISCARDABLE grafx\cd_pause.ico
POINTER ID_ICON_CDPLAY LOADONCALL MOVEABLE DISCARDABLE grafx\cd_play.ico
POINTER ID_ICON_CDPREV LOADONCALL MOVEABLE DISCARDABLE grafx\cd_prev.ico
POINTER ID_ICON_CDSTOP LOADONCALL MOVEABLE DISCARDABLE grafx\cd_stop.ico
#endif

#ifndef __XWPLITE__
POINTER ID_ICONXWPFONTCLOSED   LOADONCALL MOVEABLE DISCARDABLE grafx\fontfdr0.ico
POINTER ID_ICONXWPFONTOPEN     LOADONCALL MOVEABLE DISCARDABLE grafx\fontfdr1.ico
POINTER ID_ICONXWPFONTOBJ      LOADONCALL MOVEABLE DISCARDABLE grafx\fontobj.ico
POINTER ID_ICONXWPFONTFILE     LOADONCALL MOVEABLE DISCARDABLE grafx\fontobj.ico
#else
POINTER ID_ICONXWPFONTCLOSED   LOADONCALL MOVEABLE DISCARDABLE grafx_lite\fontfdr0.ico
POINTER ID_ICONXWPFONTOPEN     LOADONCALL MOVEABLE DISCARDABLE grafx_lite\fontfdr1.ico
POINTER ID_ICONXWPFONTOBJ      LOADONCALL MOVEABLE DISCARDABLE grafx_lite\fontobj.ico
POINTER ID_ICONXWPFONTFILE     LOADONCALL MOVEABLE DISCARDABLE grafx_lite\fontfile.ico
#endif

POINTER ID_ICONXWPVCARD        LOADONCALL MOVEABLE DISCARDABLE grafx\vcard.ico

#ifndef __XWPLITE__
POINTER ID_ICONXWPSHADOWOVERLAY LOADONCALL MOVEABLE DISCARDABLE grafx\shadow.ico
#else
POINTER ID_ICONXWPSHADOWOVERLAY LOADONCALL MOVEABLE DISCARDABLE grafx_lite\shadow.ico
#endif

POINTER ID_ICON_DRIVE LOADONCALL MOVEABLE DISCARDABLE grafx\drive.ico
POINTER ID_ICON_DRIVE_CD LOADONCALL MOVEABLE DISCARDABLE grafx\drv_cd.ico
POINTER ID_ICON_DRIVE_LAN LOADONCALL MOVEABLE DISCARDABLE grafx\drv_lan.ico
POINTER ID_ICON_DRIVE_NORMAL LOADONCALL MOVEABLE DISCARDABLE grafx\drv_normal.ico
POINTER ID_POINTER_HAND LOADONCALL MOVEABLE DISCARDABLE grafx\hand.ptr

POINTER ID_POWER_AC LOADONCALL MOVEABLE DISCARDABLE grafx\pwr_ac.ico
POINTER ID_POWER_BATTERY LOADONCALL MOVEABLE DISCARDABLE grafx\pwr_battery.ico

BITMAP ID_BITMAP_TRAY LOADONCALL MOVEABLE DISCARDABLE grafx\tray.bmp

#ifndef __XWPLITE__
BITMAP ID_BMPXMINI LOADONCALL MOVEABLE DISCARDABLE grafx\xwpminilogo.bmp
#else
BITMAP ID_BMPXMINI LOADONCALL MOVEABLE DISCARDABLE grafx_lite\ecsminilogo.bmp
#endif

#ifndef __XWPLITE__
BITMAP ID_XWPBIGLOGO LOADONCALL MOVEABLE DISCARDABLE grafx\xwplogo.bmp
#else
BITMAP ID_XWPBIGLOGO LOADONCALL MOVEABLE DISCARDABLE grafx_lite\ecslogo.bmp
#endif

POINTER ID_TB_DETAILS LOADONCALL MOVEABLE DISCARDABLE grafx\t_detail.ico
POINTER ID_TB_FIND LOADONCALL MOVEABLE DISCARDABLE grafx\t_find.ico
POINTER ID_TB_HELP LOADONCALL MOVEABLE DISCARDABLE grafx\t_help.ico
POINTER ID_TB_MULTIPLECOLUMNS LOADONCALL MOVEABLE DISCARDABLE grafx\t_mulcol.ico
POINTER ID_TB_RERESH LOADONCALL MOVEABLE DISCARDABLE grafx\t_refr.ico
POINTER ID_TB_SMALLICONS LOADONCALL MOVEABLE DISCARDABLE grafx\t_smlico.ico

