#
# systemd service file for Regina stack service
# installs to /etc/systemd/system/rxstack.service
#
[Unit]
Description=Regina Rexx stack service
After=network.target

[Service]
ExecStart=/usr/bin/rxstack
Restart=always
User=rxstack
Group=rxstack

[Install]
WantedBy=multi-user.target
