
#define	INCL_WINSYS
#define	INCL_WINSTDDLGS
#define	INCL_WINSTDSPIN
#define	INCL_NLS
#define	INCL_SW

#include <os2.h>

#include "entryfld.h"
#include "listbox.h"

BITMAP	    IDB_CHECKMARKS ChkMark.Bmp


MENU IDM_POPUPEDIT
BEGIN
PRESPARAMS PP_FONTNAMESIZE "8.Helv"
    MENUITEM  "C~ut\tShift+Del",   IDM_CUT
    MENUITEM  "~Copy\tCtrl+Ins",   IDM_COPY
    MENUITEM  "P~aste\tShift+Del", IDM_PASTE
END
