Source: regina
Section: libs
Priority: optional
Maintainer: Alen Zekulic <alen@nms.hr>
Build-Depends: pkg-config, libreadline-dev, libncurses-dev
Standards-Version: 3.8.3

Package: libregina3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, dpkg-dev (>= 1.16.0)
Conflicts: regina3, Regina-REXX-lib
Replaces: regina3, Regina-REXX-lib
Description: The Regina REXX interpreter, run-time library
 Regina is an ANSI compliant REXX interpreter for multiple platforms.
 .
 REXX is a procedural language that allows programs and algorithms
 to be written in a clear and structured way, it is also designed
 to be used as a macro language by arbitrary application programs.
 .
 Contains runtime shared libraries.

Package: libregina3-dev
Section: libdevel
Architecture: any
Depends: ${regver:Depends}, libc6-dev, cpp
Conflicts: regina2-dev, regina3-dev, Regina-REXX-dev
Replaces:  regina2-dev, regina3-dev, Regina-REXX-dev
Description: The Regina REXX interpreter, development files
 Regina is an ANSI compliant REXX interpreter for multiple platforms.
 .
 REXX is a procedural language that allows programs and algorithms
 to be written in a clear and structured way, it is also designed
 to be used as a macro language by arbitrary application programs.
 .
 Contains static library, header file rexxsaa.h and regina-config script.

Package: regina-rexx
Section: interpreters
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: Regina-REXX
Replaces:  Regina-REXX
Description: The Regina REXX interpreter
 Regina is an ANSI compliant REXX interpreter for multiple platforms.
 .
 REXX is a procedural language that allows programs and algorithms
 to be written in a clear and structured way, it is also designed
 to be used as a macro language by arbitrary application programs.
 .
 Contains the Regina REXX interpreter (regina and rexx), external queue
 support (rxstack and rxqueue) and example programs.
