#include "winver.h"

1 VERSIONINFO
 FILEVERSION 1,2,0,0
 PRODUCTVERSION 1,2,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_UNKNOWN
#ifdef DYNAMIC
 FILETYPE VFT_DLL
#else
 FILETYPE VFT_APP
#endif
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Author", "Darren Abbott\0"
#ifdef REGINA
            VALUE "FileDescription", "RxSock for Regina\0"
#endif
#ifdef OREXX
            VALUE "FileDescription", "RxSock for Object Rexx\0"
#endif
#ifdef WINREXX
            VALUE "FileDescription", "RxSock for Enterprise Rexx\0"
#endif
#ifdef QUERCUS
            VALUE "FileDescription", "RxSock for Personal Rexx\0"
#endif
#ifdef REXXTRANS
            VALUE "FileDescription", "RxSock\0"
#endif
            VALUE "FileVersion", "1.2.0\0"
            VALUE "InternalName", "RxSock\0"
            VALUE "LegalCopyright", "Copyright © 1998\0"
            VALUE "License", "GNU General Public License. See file COPYING for details\0"
            VALUE "ProductName", "RxSock\0"
            VALUE "ProductVersion", "1.2.0\0"
        END
    END
END

1 ICON    DISCARDABLE     "rxsockw32.ico"
