XCOMM @(#)Imake.tmpl	1.1
XCOMM
XCOMM This file is part of Willows Twin.
XCOMM
XCOMM

XCOMM ****************************************************************
XCOMM Variables
XCOMM ---------
XCOMM MFCINCLUDE	include path for MFC app/lib (all versions)
XCOMM MFCINCLUDEver	include path for MFC app/lib (specific versions)
XCOMM MFCAPPINCLUDE	include path for MFC app (all versions)
XCOMM MFCAPPINCLUDEver	include path for MFC app (specific versions)
XCOMM MFCLIBINCLUDE	include path for MFC lib (all versions)
XCOMM MFCLIBINCLUDEver	include path for MFC lib (specific versions)
XCOMM MFCDEFINE		definitions for MFC app/lib (all versions) 
XCOMM MFCDEFINEver	definitions for MFC app/lib (specific versions) 
XCOMM MFCAPPDEFINE	definitions for MFC app (all versions) 
XCOMM MFCAPPDEFINEver	definitions for MFC app (specific versions) 
XCOMM MFCLIBDEFINE	definitions for MFC lib (all versions) 
XCOMM MFCLIBDEFINEver	definitions for MFC lib (specific versions) 
XCOMM MFCLINK		link libraries for MFC app/lib (all versions) 
XCOMM MFCLINKver	link libraries for MFC app/lib (specific versions) 
XCOMM MFCAPPLINK	link libraries for MFC app (all versions) 
XCOMM MFCAPPLINKver	link libraries for MFC app (specific versions) 
XCOMM MFCLIBLINK	link libraries for MFC lib (all versions) 
XCOMM MFCLIBLINKver	link libraries for MFC lib (specific versions) 
XCOMM ****************************************************************

MFCINCLUDE=\
	-I $(TWINDIR)/include\

MFCINCLUDE4.0=\
	-I $(TWINDIR)/mfc4.0/include\
	-I $(TWINDIR)/stdinclude4.0\
	-I $(TWINDIR)/stdinclude4.0.ole\
	-I $(TWINDIR)/stdinclude4.0.rich\
/*
 */

MFCINCLUDE4.1=\
	-I $(TWINDIR)/mfc4.1/include\
	-I $(TWINDIR)/stdinclude4.1\

MFCINCLUDE4.2=\
	-I $(TWINDIR)/mfc4.2/include\
	-I $(TWINDIR)/stdinclude4.2\
	-I $(TWINDIR)/stdinclude4.2.ole\
	-I $(TWINDIR)/stdinclude4.2.db\
	-I $(TWINDIR)/stdinclude4.2.rich\

MFCAPPINCLUDE=\
	-I .\

MFCAPPINCLUDE4.0=\

MFCAPPINCLUDE4.1=\

MFCAPPINCLUDE4.2=\

MFCLIBINCLUDE=\

MFCLIBINCLUDE4.0=\
	-I $(TWINDIR)/mfc4.0/src\

MFCLIBINCLUDE4.1=\
	-I $(TWINDIR)/mfc4.1/src\

MFCLIBINCLUDE4.2=\
	-I $(TWINDIR)/mfc4.2/src\

MFCDEFINE=\
	-DTWIN32\
	-D_WIN32\
	-D_AFX_OLD_EXCEPTIONS\
/*
	-fhandle-exceptions\
 */

MFCDEFINE4.0=\
	-DSTRICT\
	-D_X86_\
	-D_DEBUG\
	-D_AFXDLL -D_DLL -D_MT\
	-D_AFX_PORTABLE\
	-D_AFX_NO_DEBUG_CRT\
	-D_AFX_NO_DAO_SUPPORT\
	-D_AFX_NO_DB_SUPPORT\
	-D_AFX_NO_SOCKET_SUPPORT\
	-D_AFX_NO_RICHEDIT_SUPPORT\
	-D_AFX_\
/*
	-D_AFX_NO_SYNC_SUPPORT\
	-D_AFX_NO_OLE_SUPPORT\
	-D_AFX_NO_OCC_SUPPORT\
 */

MFCDEFINE4.1=\

MFCDEFINE4.2=\
	-D_AFXDLL -D_DLL -D_MT\
	-D_X86_\
	-D_DEBUG\
	-D_AFX_PORTABLE\
	-D_AFX_NO_DEBUG_CRT\
	-D_AFX_NO_SOCK_SUPPORT\
/*
	warning _x86_ will allow oledisp1 to compile but generate wrong code
 */

MFCAPPDEFINE=\

MFCAPPDEFINE4.0=\

MFCAPPDEFINE4.1=\

MFCAPPDEFINE4.2=\

MFCLIBDEFINE=\

MFCLIBDEFINE4.0=\

MFCLIBDEFINE4.1=\

MFCLIBDEFINE4.2=\

MFCLINK=\
	-L $(TWINDIR)/$(TARGET)/lib\

MFCLINK4.0=\

MFCLINK4.1=\

MFCLINK4.2=\

MFCAPPLINK=\
	-lmfc\
	-ltwin32\
	-lshell32\
	-lcommdlg32\
	-lcommctrl32\
	-lutilities32\
	-lm\
	-lstdc++\
	-L /usr/X11/lib/\
	-lX11\
/*
 */

MFCAPPLINK4.0=\

MFCAPPLINK4.1=\

MFCAPPLINK4.2=\

MFCLIBLINK=\

MFCLIBLINK4.0=\

MFCLIBLINK4.1=\

MFCLIBLINK4.2=\

TWIN_APISIZE=32

include $(TWINDIR)/makeinclude/Makefile.$(TARGET)$(COMPILER)

XCOMM ****************************************************************
XCOMM Tools
XCOMM -----
XCOMM CpCmd(ver)
XCOMM RmCmd(ver)
XCOMM ****************************************************************

#ifndef CpCmd
#define CpCmd(ver)\
	cp
#endif	/* CpCmd */

#ifndef RmCmd
#define RmCmd(ver)\
	rm -f
#endif	/* RmCmd */

XCOMM ****************************************************************
XCOMM RC (Resource Compiler)
XCOMM ----------------------
XCOMM MfcRc(ver)
XCOMM MfcRcFlags(ver,filename)
XCOMM MfcAppRcFlags(ver,filename)
XCOMM MfcLibRcFlags(ver,filename)
XCOMM MfcAppRc(ver,filename)
XCOMM MfcAppRcDir(ver)
XCOMM MfcAppRcFile(ver,filename)
XCOMM MfcAppRcPath(ver,filename)
XCOMM MfcLibRc(ver,filename)
XCOMM MfcLibRcDir(ver)
XCOMM MfcLibRcFile(ver,filename)
XCOMM MfcLibRcPath(ver,filename)
XCOMM MfcResFile(ver,filename)
XCOMM ****************************************************************

#ifndef MfcRc
#define MfcRc(ver)\
	$(RC)
#endif	/* MfcRc */

#ifndef MfcRcFlags
#define MfcRcFlags(ver,filename)\
	-o MfcResFile(ver,filename)\
/* TEMP */ -DWINVER=0x0400\
/* TEMP */ -I $(TWINDIR)/stdinclude/**/ver\
	-I $(TWINDIR)/include\
	-I $(TWINDIR)/mfc/**/ver/include
#endif	/* MfcRcFlags */

#ifndef MfcAppRcFlags
#define MfcAppRcFlags(ver,filename)\
	MfcRcFlags(ver,filename)\
	$(RCOPT)\
	-I MfcAppRcDir(ver)
#endif	/* MfcAppRcFlags */

#ifndef MfcLibRcFlags
#define MfcLibRcFlags(ver,filename)\
	MfcRcFlags(ver,filename)\
	-I MfcLibRcDir(ver)
#endif	/* MfcAppRcFlags */

#ifndef MfcAppRc
#define MfcAppRc(ver,filename)\
@@MfcResFile(ver,filename): MfcAppRcPath(ver,filename)\
@@	MfcRc(ver) MfcAppRcFlags(ver,filename) MfcAppRcPath(ver,filename)\
@@\
@@clean::\
@@	RmCmd(ver) MfcResFile(ver,filename)\
@@\
@@filename.res.o: MfcResFile(ver,filename)\
@@	$(CC) -c -DTWIN32 $(TWIN_INCPATH) $(TWIN_LIBPATH) MfcResFile(ver,filename)\
@@\
@@MFCAPPOBJLIST += filename.res.o\
@@
#endif	/* MfcAppRc */

#ifndef MfcAppRcDir
#define MfcAppRcDir(ver)\
	.
#endif	/* MfcAppRcDir */

#ifndef MfcAppRcFile
#define MfcAppRcFile(ver,filename)\
	filename.rc
#endif	/* MfcAppRcFile */

#ifndef MfcAppRcPath
#define MfcAppRcPath(ver,filename)\
	MfcAppRcDir(ver)/MfcAppRcFile(ver,filename)
#endif	/* MfcAppRcPath */

#ifndef MfcLibRc
#define MfcLibRc(ver,filename)\
@@MfcResFile(ver,filename): MfcLibRcPath(ver,filename)\
@@	MfcRc(ver) MfcLibRcFlags(ver,filename) MfcLibRcPath(ver,filename)\
@@\
@@clean::\
@@	RmCmd(ver) MfcResFile(ver,filename)\
@@\
@@filename.res.o: MfcResFile(ver,filename)\
@@	$(CC) -c -DTWIN32 $(TWIN_INCPATH) $(TWIN_LIBPATH) MfcResFile(ver,filename)\
@@\
@@MFCLIBOBJLIST += filename.res.o\
@@
#endif	/* MfcLibRc */

#ifndef MfcLibRcDir
#define MfcLibRcDir(ver)\
	$(TWINDIR)/mfc/**/ver/src
#endif	/* MfcLibRcDir */

#ifndef MfcLibRcFile
#define MfcLibRcFile(ver,filename)\
	filename.rc
#endif	/* MfcLibRcFile */

#ifndef MfcLibRcPath
#define MfcLibRcPath(ver,filename)\
	MfcLibRcDir(ver)/MfcLibRcFile(ver,filename)
#endif	/* MfcLibRcPath */

#ifndef MfcResFile
#define MfcResFile(ver,filename)\
	filename.res.c
#endif	/* MfcResFile */

XCOMM ****************************************************************
XCOMM MFC (Microsoft Foundation Class)
XCOMM --------------------------------
XCOMM MfcCxx(ver)
XCOMM MfcCxxFlags(ver,filename)
XCOMM MfcAppCxxFlags(ver,filename)
XCOMM MfcLibCxxFlags(ver,filename)
XCOMM MfcAppLink(ver)
XCOMM MfcAppLinkFlags(ver,filename)
XCOMM MfcLibLink(ver)
XCOMM MfcLibLinkFlags(ver,filename)
XCOMM MfcAppSrc(ver,filename)
XCOMM MfcAppSrcDir(ver)
XCOMM MfcAppSrcFile(ver,filename)
XCOMM MfcAppSrcPath(ver,filename)
XCOMM MfcAppTgt(ver,filename)
XCOMM MfcAppTgtDir(ver)
XCOMM MfcAppTgtFile(ver,filename)
XCOMM MfcAppTgtPath(ver,filename)
XCOMM MfcLibSrc(ver,filename)
XCOMM MfcLibSrcDir(ver)
XCOMM MfcLibSrcFile(ver,filename)
XCOMM MfcLibSrcPath(ver,filename)
XCOMM MfcLibTgt(ver,filename)
XCOMM MfcLibTgtDir(ver)
XCOMM MfcLibTgtFile(ver,filename)
XCOMM MfcLibTgtPath(ver,filename)
XCOMM MfcObjFile(ver,filename)
XCOMM ****************************************************************

#ifndef MfcCxx
#define MfcCxx(ver)\
	$(CXX)
#endif	/* MfcCxx */

#ifndef MfcCxxFlags
#define MfcCxxFlags(ver,filename)\
	-g -c -o MfcObjFile(ver,filename)\
	$(MFCINCLUDE) $(MFCINCLUDE/**/ver)\
	$(MFCDEFINE) $(MFCDEFINE/**/ver)
#endif	/* MfcCxxFlags */

#ifndef MfcAppCxxFlags
#define MfcAppCxxFlags(ver,filename)\
	MfcCxxFlags(ver,filename) $(CFLAGS)\
	$(MFCAPPINCLUDE) $(MFCAPPINCLUDE/**/ver)\
	$(MFCAPPDEFINE) $(MFCAPPDEFINE/**/ver)
#endif	/* MfcAppCxxFlags */

#ifndef MfcLibCxxFlags
#define MfcLibCxxFlags(ver,filename)\
	MfcCxxFlags(ver,filename) $(DLL_CCOPT)\
	$(MFCLIBINCLUDE) $(MFCLIBINCLUDE/**/ver)\
	$(MFCLIBDEFINE) $(MFCLIBDEFINE/**/ver)
#endif	/* MfcLibCxxFlags */

#ifndef MfcAppLink
#define MfcAppLink(ver)\
	$(CC)
#endif	/* MfcAppLink */

#ifndef MfcAppLinkFlags
#define MfcAppLinkFlags(ver,filename)\
	-o MfcAppTgtFile(ver,filename)\
	$(MFCLINK) $(MFCLINK/**/ver)\
	$(MFCAPPLINK) $(MFCAPPLINK/**/ver)
#endif	/* MfcAppLinkFlags */

#ifndef MfcLibLink
#define MfcLibLink(ver)\
	$(LD)
#endif	/* MfcLibLink */

#ifndef MfcLibLinkFlags
#define MfcLibLinkFlags(ver,filename)\
	-shared\
	$(DLL_LDLIB)\
	-o MfcLibTgtFile(ver,filename)\
	$(MFCLINK) $(MFCLINK/**/ver)\
	$(MFCLIBLINK) $(MFCLIBLINK/**/ver)
#endif	/* MfcLibLinkFlags */

#ifndef MfcAppSrc
#define MfcAppSrc(ver,filename)\
@@MfcObjFile(ver,filename): MfcAppSrcPath(ver,filename)\
@@	MfcCxx(ver) MfcAppCxxFlags(ver,filename) MfcAppSrcPath(ver,filename)\
@@\
@@clean::\
@@	RmCmd(ver) MfcObjFile(ver,filename)\
@@\
@@MFCAPPOBJLIST += MfcObjFile(ver,filename)\
@@
#endif	/* MfcAppSrc */

#ifndef MfcAppSrcDir
#define MfcAppSrcDir(ver)\
	.
#endif	/* MfcAppSrcDir */

#ifndef MfcAppSrcFile
#define MfcAppSrcFile(ver,filename)\
	filename.cpp
#endif	/* MfcAppSrcFile */

#ifndef MfcAppSrcPath
#define MfcAppSrcPath(ver,filename)\
	MfcAppSrcDir(ver)/MfcAppSrcFile(ver,filename)
#endif	/* MfcAppSrcPath */

#ifndef MfcAppTgt
#define MfcAppTgt(ver,filename)\
@@MfcAppTgtFile(ver,filename): $(MFCAPPOBJLIST)\
@@	MfcAppLink(ver) MfcAppLinkFlags(ver,filename) $(MFCAPPOBJLIST)\
@@\
@@all:: MfcAppTgtFile(ver,filename)\
@@\
@@clean::\
@@	RmCmd(ver) MfcAppTgtFile(ver,filename)\
@@\
@@install:: MfcAppTgtFile(ver,filename)\
@@	CpCmd(ver) MfcAppTgtFile(ver,filename) MfcAppTgtPath(ver,filename)\
@@\
@@uninstall::\
@@	RmCmd(ver) MfcAppTgtPath(ver,filename)\
@@
#endif	/* MfcAppTgt */

#ifndef MfcAppTgtDir
#define MfcAppTgtDir(ver)\
	$(TWINDIR)/$(TARGET)/bin
#endif	/* MfcAppTgtDir */

#ifndef MfcAppTgtFile
#define MfcAppTgtFile(ver,filename)\
	filename
#endif	/* MfcAppTgtFile */

#ifndef MfcAppTgtPath
#define MfcAppTgtPath(ver,filename)\
	MfcAppTgtDir(ver)/MfcAppTgtFile(ver,filename)
#endif	/* MfcAppTgtPath */

#ifndef MfcLibSrc
#define MfcLibSrc(ver,filename)\
@@MfcObjFile(ver,filename): MfcLibSrcPath(ver,filename)\
@@	MfcCxx(ver) MfcLibCxxFlags(ver,filename) MfcLibSrcPath(ver,filename)\
@@\
@@clean::\
@@	RmCmd(ver) MfcObjFile(ver,filename)\
@@\
@@MFCLIBOBJLIST += MfcObjFile(ver,filename)\
@@
#endif	/* MfcLibSrc */

#ifndef MfcLibSrcDir
#define MfcLibSrcDir(ver)\
	$(TWINDIR)/mfc/**/ver/src
#endif	/* MfcLibSrcDir */

#ifndef MfcLibSrcFile
#define MfcLibSrcFile(ver,filename)\
	filename.cpp
#endif	/* MfcLibSrcFile */

#ifndef MfcLibSrcPath
#define MfcLibSrcPath(ver,filename)\
	MfcLibSrcDir(ver)/MfcLibSrcFile(ver,filename)
#endif	/* MfcLibSrcPath */

#ifndef MfcLibTgt
#define MfcLibTgt(ver,filename)\
@@MfcLibTgtFile(ver,filename): $(MFCLIBOBJLIST)\
@@	MfcLibLink(ver) MfcLibLinkFlags(ver,filename) $(MFCLIBOBJLIST)\
@@\
@@all:: MfcLibTgtFile(ver,filename)\
@@\
@@clean::\
@@	RmCmd(ver) MfcLibTgtFile(ver,filename)\
@@\
@@install:: MfcLibTgtFile(ver,filename)\
@@	CpCmd(ver) MfcLibTgtFile(ver,filename) MfcLibTgtPath(ver,filename)\
@@\
@@uninstall::\
@@	RmCmd(ver) MfcLibTgtPath(ver,filename)\
@@
#endif	/* MfcLibTgt */

#ifndef MfcLibTgtDir
#define MfcLibTgtDir(ver)\
	$(TWINDIR)/$(TARGET)/lib
#endif	/* MfcLibTgtDir */

#ifndef MfcLibTgtFile
#define MfcLibTgtFile(ver,filename)\
	lib/**/filename.$(DLL_EXT)
#endif	/* MfcLibTgtFile */

#ifndef MfcLibTgtPath
#define MfcLibTgtPath(ver,filename)\
	MfcLibTgtDir(ver)/MfcLibTgtFile(ver,filename)
#endif	/* MfcLibTgtPath */

#ifndef MfcObjFile
#define MfcObjFile(ver,filename)\
	filename.ver.o
#endif	/* MfcObjFile */

XCOMM ****************************************************************
XCOMM ****************************************************************

XCOMM ****************************************************************
XCOMM Imakefile
XCOMM ****************************************************************

all::

#include INCLUDE_IMAKEFILE
