############################################
#
# Makeinclude.config
#
############################################

TWIN_SYSINC= -I/usr/X11R6/include
TWIN_SYSLIB= -L/usr/X11R6/lib

TWIN_WININC=-I/home/robf/src/twin/3.1.1/include
TWIN_WINLIB=-L/home/robf/src/twin/3.1.1/win

TWIN_LIBS  = -lX11 -lm -ldl 

TARGTHRSRC=DrvThreads_X386.c
TARGTHROBJ=DrvThreads_X386.o

CFLAGS    = -g -O2 -DX386 -Dlinux -DDRVTAB $(TWIN_APISIZE:32=-DTWIN32)
LDFLAGS   = $(TWIN_WINLIB) $(TWIN_AUXLIB) $(TWIN_SYSLIB)

CPUTYPE = CPU
EXECSUFFIX = linux

LIBTWIN   = libtwin.so
LIBTWIN32   = libtwin32.so

TWIN_CFLAGS_Debug   = -DDEBUG -DTRACE
TWIN_CFLAGS_Release = 

TWIN_IFLAGS   = $(TWIN_WININC) $(TWIN_AUXINC) $(TWIN_SYSINC)
TWIN_BFLAGS   = $(TWIN_XFLAGS) $(TWIN_CFLAGS_$(TWINOPT))
TWIN_CFLAGS   = $(PICFLAG) $(TWIN_IFLAGS) $(TWIN_BFLAGS)

LDSHARED     = -shared

# Special options when building Native DLLs
# First, the command and options for compiling individual .c modules.

DLL_CC    = $(CC)
DLL_CCOPT = 

# Next, the command and options for building shared libraries.

DLL_LD    = $(CC)
DLL_LDOPT = -shared  -Wl,-Bsymbolic
DLL_LDLIB =-ltwin$(TWIN_APISIZE) -ldll$(TWIN_APISIZE) -lc
 

# Finally, the extension we use for DLLs on this platform.

DLL_EXT = so
