time    stream tcp nowait root   internal
time    dgram  tcp nowait root   internal
daytime stream tcp nowait root   internal
daytime dgram  tcp nowait root   internal
chargen stream tcp nowait root   internal
chargen dgram  tcp nowait root   internal
discard stream tcp nowait root   internal
discard dgram  tcp nowait root   internal
echo    stream tcp nowait root   internal
echo    dgram  tcp nowait root   internal
telnet  stream tcp nowait root   telnetd %s
ftp     stream tcp nowait root   ftpdc %s
exec    stream tcp nowait root   rexecd %s
shell   stream tcp nowait root   rshd %s
printer stream tcp nowait root   lpd %s
nntp    stream tcp nowait root   nntpd %s
pop3    stream tcp nowait root   ipop3d %s
imap    stream tcp nowait root   imapd %s
test    stream tcp wait   root   cmd /c set & dir *.xxx
