/*************************************************************************

	@(#)RscData.rc	1.31
    	Copyright 1997 Willows Software, Inc. 

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Library General Public License as
published by the Free Software Foundation; either version 2 of the
License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Library General Public License for more details.

You should have received a copy of the GNU Library General Public
License along with this library; see the file COPYING.LIB.  If
not, write to the Free Software Foundation, Inc., 675 Mass Ave,
Cambridge, MA 02139, USA.


For more information about the Willows Twin Libraries.

	http://www.willows.com	

To send email to the maintainer of the Willows Twin Libraries.

	mailto:twin@willows.com 

**************************************************************************/

#include "windows.h"
#include "About.h"
#include "RscData.h"

32767 BITMAP bmp/oldclose.bmp		; OBM_OLD_CLOSE
32766 BITMAP bmp/obmsize.bmp		; OBM_SIZE
32765 BITMAP bmp/oldupar.bmp		; OBM_OLD_UPARROW
32764 BITMAP bmp/olddnar.bmp		; OBM_OLD_DNARROW
32763 BITMAP bmp/oldrgar.bmp		; OBM_OLD_RGARROW
32762 BITMAP bmp/oldlfar.bmp		; OBM_OLD_LFARROW
32761 BITMAP bmp/obmbtsiz.bmp		; OBM_BTSIZE
32760 BITMAP bmp/obmcheck.bmp		; OBM_CHECK
32759 BITMAP bmp/obmchbxs.bmp		; OBM_CHECKBOXES
32758 BITMAP bmp/obmbtncn.bmp		; OBM_BTNCORNERS
32757 BITMAP bmp/oldredu.bmp		; OBM_OLD_REDUCE
32756 BITMAP bmp/oldzoom.bmp		; OBM_OLD_ZOOM
32755 BITMAP bmp/oldrest.bmp		; OBM_OLD_RESTORE
32754 BITMAP bmp/obmclose.bmp		; OBM_CLOSE
32753 BITMAP bmp/obmuparn.bmp		; OBM_UPARROW
32752 BITMAP bmp/obmdnarn.bmp		; OBM_DNARROW
32751 BITMAP bmp/obmrgarn.bmp		; OBM_RGARROW
32750 BITMAP bmp/obmlfarn.bmp		; OBM_LFARROW
32749 BITMAP bmp/obmredun.bmp		; OBM_REDUCE
32748 BITMAP bmp/obmzoomn.bmp		; OBM_ZOOM
32747 BITMAP bmp/obmrestn.bmp		; OBM_RESTORE
32746 BITMAP bmp/obmredud.bmp		; OBM_REDUCED
32745 BITMAP bmp/obmzoomd.bmp		; OBM_ZOOMD
32744 BITMAP bmp/obmrestd.bmp		; OBM_RESTORED
32743 BITMAP bmp/obmupard.bmp		; OBM_UPARROWD
32742 BITMAP bmp/obmdnard.bmp		; OBM_DNARROWD
32741 BITMAP bmp/obmrgard.bmp		; OBM_RGARROWD
32740 BITMAP bmp/obmlfard.bmp		; OBM_LFARROWD
32739 BITMAP bmp/obmmnar.bmp		; OBM_MNARROW
32738 BITMAP bmp/obmcombo.bmp		; OBM_COMBO
32737 BITMAP bmp/obmupari.bmp		; OBM_UPARROWI
32736 BITMAP bmp/obmdnari.bmp		; OBM_DNARROWI
32735 BITMAP bmp/obmrgari.bmp		; OBM_RGARROWI
32734 BITMAP bmp/obmlfari.bmp		; OBM_LFARROWI

#define HATCH_BASE 16384

16384 BITMAP bmp/hs_horz.bmp		; HATCH_BASE+HS_HORIZONTAL
16385 BITMAP bmp/hs_vert.bmp		; HATCH_BASE+HS_VERTICAL
16386 BITMAP bmp/hs_fdiag.bmp		; HATCH_BASE+HS_FDIAGONAL
16387 BITMAP bmp/hs_bdiag.bmp		; HATCH_BASE+HS_BDIAGONAL
16388 BITMAP bmp/hs_cross.bmp		; HATCH_BASE+HS_CROSS
16389 BITMAP bmp/hs_dcros.bmp		; HATCH_BASE+HS_DIAGCROSS

SPLASH BITMAP bmp/willows.bmp		; 8 bpp Splash screen

#ifdef macintosh
32512 CURSOR bmp/idcarrow_mac.cur		; IDC_ARROW
32513 CURSOR bmp/idcibeam_mac.cur		; IDC_IBEAM
32514 CURSOR bmp/idcwait_mac.cur		; IDC_WAIT
#else
32512 CURSOR bmp/idcarrow.cur		; IDC_ARROW
32513 CURSOR bmp/idcibeam.cur		; IDC_IBEAM
32514 CURSOR bmp/idcwait.cur		; IDC_WAIT
#endif
32515 CURSOR bmp/idccross.cur		; IDC_CROSS
32516 CURSOR bmp/idcuparr.cur		; IDC_UPARROW
32640 CURSOR bmp/idcsize.cur		; IDC_SIZE
32641 CURSOR bmp/idcicon.cur		; IDC_ICON
32642 CURSOR bmp/idcsznw.cur		; IDC_SIZENWSE
32643 CURSOR bmp/idcszne.cur		; IDC_SIZENESW
32644 CURSOR bmp/idcszwe.cur		; IDC_SIZEWE
32645 CURSOR bmp/idcszns.cur		; IDC_SIZENS
32646 CURSOR bmp/idcsize.cur		; IDC_SIZEALL
32648 CURSOR bmp/idcno.cur		; IDC_NO
32650 CURSOR bmp/idcappst.cur		; IDC_APPSTARTING
32651 CURSOR bmp/idchelp.cur		; IDC_HELP
"DRAGCURSOR" CURSOR bmp/idcdrag.cur	;
#ifdef macintosh
"NULLCURSOR" CURSOR bmp/idcnull_mac.cur	;
#else
"NULLCURSOR" CURSOR bmp/idcnull.cur	;
#endif

32512 ICON   bmp/idiapp.ico		; IDI_APPLICATION
32513 ICON   bmp/idihand.ico		; IDI_HAND
32514 ICON   bmp/question.ico		; IDI_QUESTION
32515 ICON   bmp/exclamtn.ico		; IDI_EXCLAMATION
32516 ICON   bmp/asterisk.ico		; IDI_ASTERISK
530   ICON   bmp/willows.ico		; IDI_WILLOWS

MESSAGEBOX  DIALOG 26,50,185,92
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
BEGIN
	DEFPUSHBUTTON	"",101,13,71,35,14
	PUSHBUTTON	"",102,70,71,35,14
	PUSHBUTTON	"",103,133,71,35,14
	LTEXT		"",104,10,10,20,20
	ICON		"",105,7,25,18,20
END

ShellAbout  DIALOG 26,50,240,164
STYLE WS_POPUP | WS_CAPTION | WS_THICKFRAME | WS_VISIBLE | WS_SYSMENU
CAPTION "ShellAbout"
FONT 10, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON   "OK",SAB_OKAY, 198,15,40,14
	ICON	"",SAB_ICON,8,8,18,20
	LTEXT	"*** ABOUT ***",SAB_ABOUT,36,8,150,10
	LTEXT	"*** TEXT  ***",SAB_TEXT, 36,20,150,10

	LTEXT	"*** USER ***",SAB_USER,36,48,180,20
	LTEXT	"TWIN from Willows Software",SAB_TWIN,36,60,190,10
	LTEXT	"*** VERSION ***",SAB_VERSION,36,72,190,10

	LTEXT   "*** WIN  ***",SAB_WINDOW,36,88,150,10
	LTEXT   "*** SYS  ***",SAB_SYSTEM,36,100,150,10
	LTEXT	"*** HOST NAME/PLATFORM ***",SAB_HOST,36,116,150,10
	LTEXT	"*** TERM NAME/PLATFORM ***",SAB_TERM,36,128,150,10
	LTEXT	"Copyright (c) 1995-1997 Willows Software, Inc.",-1,36,140,150,10
END

TaskList DIALOG DISCARDABLE 0, 0, 185, 92
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Task List"
Font 8, "MS Sans Serif"
BEGIN
	LISTBOX	IDC_TASKLIST, 4, 4, 176, 64, LBS_NOINTEGRALHEIGHT | 
	          WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON	"Switch To", IDOK, 7, 72, 50, 14
	PUSHBUTTON	"End Task", IDABORT, 67, 72, 50, 14
	PUSHBUTTON	"Cancel", IDCANCEL, 127, 72, 50, 14
END


DRIVES_CFG DIALOG DISCARDABLE  20, 20, 257, 166
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Drives Configuration"
FONT 8, "MS Sans Serif"
BEGIN
    LISTBOX         IDL_DRIVELIST,11,8,174,147,LBS_SORT | LBS_NOINTEGRALHEIGHT | 
                    LBS_WANTKEYBOARDINPUT | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "&OK",IDOK,197,8,50,14, WS_TABSTOP
    PUSHBUTTON      "&Cancel",IDCANCEL,197,26,50,14, WS_TABSTOP
    PUSHBUTTON      "&Map...",IDB_MAP,197,44,50,14, WS_TABSTOP
    PUSHBUTTON      "&Unmap",IDB_UNMAP,198,62,50,14, WS_TABSTOP
    CHECKBOX        "Map at &Startup",IDC_MAP, 192,112,58,10,BS_AUTOCHECKBOX | WS_TABSTOP
END

DRIVES_MAP DIALOG DISCARDABLE  30, 30, 242, 67
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Map Drive"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDE_MAP,24,16,194,12,ES_AUTOHSCROLL | WS_TABSTOP
    DEFPUSHBUTTON  "&OK",IDOK,66,41,50,14,WS_TABSTOP
    PUSHBUTTON     "&Cancel",IDCANCEL,126,41,50,14,WS_TABSTOP
END

SYSMENU MENU 
BEGIN
	MENUITEM "&Restore",	   SC_RESTORE,		GRAYED
	MENUITEM "&Move",	   SC_MOVE,		GRAYED
	MENUITEM "&Size",	   SC_SIZE,		GRAYED
	MENUITEM "Mi&nimize",	   SC_MINIMIZE,		GRAYED
	MENUITEM "Ma&ximize",	   SC_MAXIMIZE,		GRAYED	
	MENUITEM  SEPARATOR
	MENUITEM "&Close\tAlt+F4", SC_CLOSE		
	MENUITEM  SEPARATOR
	MENUITEM "S&witch To...\tCtrl+Esc", SC_TASKLIST
	MENUITEM  SEPARATOR
	MENUITEM "R&un...",			WSYS_RUN
	MENUITEM "&Drives...",    WSYS_DRIVES
	MENUITEM "Con&figure...", WSYS_CONFIGURE, GRAYED
	MENUITEM  SEPARATOR
	MENUITEM	"&About...",		WSYS_ABOUT
END


CHILDSYSMENU MENU 
BEGIN
	MENUITEM "&Restore",	   SC_RESTORE
	MENUITEM "&Move",	   SC_MOVE
	MENUITEM "&Size",	   SC_SIZE
	MENUITEM "Mi&nimize",	   SC_MINIMIZE
	MENUITEM "Ma&ximize",	   SC_MAXIMIZE
	MENUITEM  SEPARATOR
	MENUITEM "&Close\tCtrl+F4", SC_CLOSE		
	MENUITEM  SEPARATOR
	MENUITEM "S&witch To...\tCtrl+Esc", SC_TASKLIST
END

