/*

gbmdlg.rc - GBM Dialogs

*/

#include "os2.h"
#include "gbmdlgrc.h"


DLGTEMPLATE RID_GBM_FILEDLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "",
                RID_GBM_FILEDLG, 1, 1, 288, 198, FS_NOBYTEALIGN |
                FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS,
                FCF_SYSMENU | FCF_TITLEBAR | FCF_DLGBORDER
    BEGIN
        CONTROL "Filename", DID_FILENAME_TXT, 5, 184, 39, 7, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "", DID_FILENAME_ED, 44, 185, 239, 6, WC_ENTRYFIELD,
                ES_AUTOSCROLL | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"

        CONTROL "Options", DID_GBM_OPTIONS_TXT, 5, 171, 39, 7, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "", DID_GBM_OPTIONS_ED, 44, 172, 239, 6, WC_ENTRYFIELD,
                ES_AUTOSCROLL | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"

        CONTROL "Drive", DID_DRIVE_TXT, 5, 157, 87, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "", DID_DRIVE_CB, 43, 115, 89, 51, WC_COMBOBOX,
                CBS_DROPDOWNLIST | WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"

        CONTROL "Filetype", DID_FILTER_TXT, 135, 157, 25, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "", DID_FILTER_CB, 163, 40, 122, 126, WC_COMBOBOX,
                CBS_DROPDOWNLIST | WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"

        CONTROL "File", DID_FILES_TXT, 135, 143, 31, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "", DID_FILES_LB, 135, 20, 149, 123, WC_LISTBOX,
                LS_HORZSCROLL | WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"

        CONTROL "Directory", DID_DIRECTORY_TXT, 5, 143, 37, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "", DID_DIRECTORY_LB, 4, 65, 126, 79, WC_LISTBOX,
                LS_OWNERDRAW | LS_HORZSCROLL | WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"

        CONTROL "~OK", DID_OK_PB, 4, 2, 50, 14, WC_BUTTON, BS_DEFAULT |
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Cancel", DID_CANCEL_PB, 57, 2, 50, 14, WC_BUTTON,
                BS_PUSHBUTTON | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "~Apply", DID_APPLY_PB, 109, 2, 50, 14, WC_BUTTON,
                BS_PUSHBUTTON | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Help", DID_HELP_PB, 236, 3, 50, 14, WC_BUTTON,
                BS_PUSHBUTTON | WS_VISIBLE | BS_HELP |
                BS_NOPOINTERFOCUS
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"

        CONTROL "Preview", DID_PREVIEW_GROUP_TXT, 4, 20, 128, 43, WC_STATIC,
                SS_GROUPBOX | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"

        VALUESET DID_PREVIEW_RECT, 7, 23, 64, 32, VS_BITMAP | 
                 NOT WS_TABSTOP | WS_DISABLED
                 PRESPARAMS PP_BACKGROUNDCOLOR, 0x00FFFFFFL

        CONTROL "Format:", DID_PREVIEW_FORMAT_TXT, 75, 49, 55, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Width:", DID_PREVIEW_WIDTH_TXT, 75, 42, 55, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Height:", DID_PREVIEW_HEIGHT_TXT, 75, 35, 55, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Bits:", DID_PREVIEW_DEPTH_TXT, 75, 28, 55, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Pages:", DID_PREVIEW_PAGES_TXT, 75, 21, 55, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"

        CONTROL "ssss", DID_PREVIEW_FORMAT_ED, 104, 49, 27, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "bbb", DID_PREVIEW_WIDTH_ED, 104, 42, 27, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "hhh", DID_PREVIEW_HEIGHT_ED, 104, 35, 27, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "fff", DID_PREVIEW_DEPTH_ED, 104, 28, 27, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "ppp", DID_PREVIEW_PAGES_ED, 104, 21, 27, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"

    END
END

